#singupcontent{
    width:1000px;
    min-width: 1000px;
    height: auto; 
    margin: 100px auto;
    background: #F5F7F8;
    border-radius: 6px;
}
.texthead{
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #303136;
    letter-spacing: 0.11px;
}
.text{
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #999999;
    letter-spacing: 0;
}
#inputgroup{
    margin: 100px auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.table { display: table ;height: 500px;}
.tr { display: table-row ;width: 200px;height:50px;text-align: center;vertical-align: middle;}
.thead { display: table-header-group }
.tbody { display: table-row-group }
.tfoot { display: table-footer-group }
.col { display: table-column }
.colgroup { display: table-column-group }
.td,.th { display: table-cell }
.caption { display: table-caption }

.table-left{
    width: 200px;
    text-align: right;
    padding-right: 20px;
}
.table-right{
    text-align: left;
    width: 500px;
}
.input{
    width: 500px;
    height: 50px;
    padding-left: 10px;
    background-color: #FFFFFF;
}
#btngroup{

}
.btn{

}
#creat{

}
#cancle{

}