#singupcontent{
    width:1000px;
    min-width: 1000px;
    height: auto; 
    margin: 100px auto;
}
.texthead{
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #303136;
    letter-spacing: 0.11px;
}
.text{
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #999999;
    letter-spacing: 0;
}
#inputgroup{
}

.table { display: table ;height: 500px;}
.tr { display: table-row ;width: 200px;height:50px;}
.thead { display: table-header-group }
.tbody { display: table-row-group }
.tfoot { display: table-footer-group }
.col { display: table-column }
.colgroup { display: table-column-group }
.td,.th { display: table-cell }
.caption { display: table-caption }

#left{
    display: table-column;
    width: 200px;
}
#right{
    display: table-column;
    width: 500px;
}
.tabl-left{

}
.tabl{

}
#btngroup{

}
.btn{

}
#creat{

}
#cancle{

}