.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    width: auto;
    max-width: 1920px;
    max-height: 770px;
    margin-left: 50%;
    transform: translateX(-50%);
}
#abovearea{
    flex-direction: column;
    background-color: #F2F2F2;
    max-width: 1920px;
    height: 360px;
    min-width: 1280px;
}
#abovehead{
    font-family: Roboto-Bold;
    font-size: 40px;
    color: #303136;
    letter-spacing: 0.14px;
    text-align: center;
    padding-top: 60px;
}
#abovetext{
    font-family: Roboto-Light;
    font-size: 14px;
    color: #0A1017;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    margin-top: 20px;
    max-width: 850px;;
}
#login{
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #FFFFFF;
    text-align: left;
  
}
/* 宽度100%图片在分辨率小于1280时未填满解决 */
#home_img_banner,#hardwarehead,#apihead,#apipic2area,#benefitshead,#benback{
    min-width:1280px;
}
.carousel-indicators{
    list-style: none;
    margin-left: -3%;
}
#home_img_banner{
    height: 770px;
    width: 100%;
    /*宽度最小是1280px*/
    background-position: center;
    margin-top: 70px;
}
.home_smllogo_group{
    width:1200px;
    height:105px;
    background-color:transparent;
    margin-top: 60px;
    margin-bottom: 65.9;
}
#home_smllogo3{
    background-image: url('../assets/home_logo3.png');
    width:259px;
    height:63px;
    position: absolute;
    margin: 23px 837px 19px 103px;
}
#home_smllogo2{
    background-image: url('../assets/home_logo2.png');
    width:227px;
    height:59px;
    position: absolute;
    margin: 20px 479.5px 125px 494.5px;
}
#home_smllogo1{
    background-image: url('../assets/home_logo1.png');
    width:246px;
    height:58px;
    position: absolute;
    margin: 20px 102px 27px 852px;
}
#home_img1{
    background-image: url('../assets/home_img1.png');
    width:528px;
    height:337px;
    margin: 100px 0 0 40px;
}
#home_img1texthead{
    max-width: 640px;
    height:auto;
    font-family: Roboto-Regular;
    color: #323643;
    font-size: 40px;
    margin: 187px 40px 0 0;
    letter-spacing: 0; 
}
#home_img1textp{
    max-width: 640px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 40px 0 0;
    font-family: Roboto-Light;
    letter-spacing: 0;
    line-height: 20px;
}    
#boldexops{
    font-family: Roboto-Medium;
    font-size: 14px;
    color: #0A1017;
    letter-spacing: 0;
    line-height: 20px;
}   
#home_img2texthead{
    max-width: 640px;
    height:auto;
    font-family: Roboto-Regular;
    color: #323643;
    font-size: 40px;
    margin: 242px 0 0 40px;
    letter-spacing: 0;
}
#home_img2textp{
    max-width: 640px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 40px;
    font-family: Roboto-Light;
    letter-spacing: 0;
}  
#home_img2{
    background-image: url('../assets/home_img2.png');
    width:478px;
    height:414px;
    margin: 0px 40px 0 117px;
}

.widegraybg{
    background: #F7F8F9;
    width: 100%;
    min-width: 1280px;
    height: 405px;
}
#whatbg{
    margin-top: 113px;
}
#home_img3area{
    background-color: transparent;
}
#home_img3{
    background-image: url('../assets/home_img3.png');
    width:528px;
    height:337px;
    margin: 0px 0 0 40px;
}
#home_img3texthead{
    max-width: 640px;
    height: auto;
    font-family: Roboto-Regular;
    color: #323643;
    font-size: 40px;
    margin: 54px 40px 0 0;
    letter-spacing: 0;
    }
#home_img3textp{
    max-width: 640px;
    height: auto;
    font-family: Roboto-Light;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 40px 0 0;
}  
#hardwarehead,#apihead,#benefitshead{
    /*background-image: url('../assets/home_img_bg1.png');*/
    background-color: black;
    width:100%;
    height:70px;
    text-align: center;
}
#hardinfo,#apiinfo,#beninfo{
    margin:0 auto 0 auto;
    padding-top: 7px;
    font-size: 40px;
    font-family: Helvetica;
    font-size: 40px;
    color: #FFFFFF;
}
#hardpic{
    background-image: url('../assets/home_icon1.png');
    width:42px;
    height:37px; 
    display: inline-block;
    vertical-align: middle;
}
#hardtext{
    color: #FFF;
    display: inline-block;
    vertical-align: middle;
}
#hard1bg{
    margin-top: 0;
    height: 444px
}
.hard1container{
    height: 444px;
}
#hardpic1{
    background-image: url('../assets/home_img4.png');
    width:590px;
    height:376px;
    margin: 67px 40px 0 0;
}
#hardtext1head{
    max-width: 640px;
    height:auto;
    font-family: Roboto-Regular;
    color: #323643;
    font-size: 40px;
    margin: 172px 0 0 40px;   
    letter-spacing: 0;
}
#hardtext1p{
    max-width: 640px;
    height: auto;
    font-family: Roboto-Light;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 40px;
    letter-spacing: 0;
}
#hardpic2{
    background-image: url('../assets/home_img5\ 2.png');
    width: 593px;
    height: 346px;
    margin: 0 0 0 47px;
}
#hardtext2{
    width: 590px;
}
#hardtext2head{
    max-width: 470px;
    height:auto;
    font-family: Roboto-Regular;
    color: #323643;
    font-size: 40px;
    margin: 65px 0 0 40px;  
    letter-spacing: 0;
}
#hardtext2p{
    max-width: 520px;
    height: auto;
    font-family: Roboto-Light;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 40px;
    letter-spacing: 0;
}
#hardpic3{
    background-image: url('../assets/home_img6\ 2.png');
    width:478px;
    height:414px;
    margin: 0px 0px 0px 60px;
}
#hardtext3head{
    max-width: 640px;
    height: auto;
    font-family: Roboto-Regular;
    color: #323643;
    font-size: 40px;
    margin: 150px 0 0 56px;
    letter-spacing: 0;
}
#hardtext3p{
    max-width: 640px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 56px;
    font-family: Roboto-Light;
    letter-spacing: 0;
}
#hardpic4area{
margin-bottom: 30px;
}
#hardpic4{
    background-image: url('../assets/home_img7.png');
    width:528px;
    height:337px;
    margin: 0px 0 40px 40px;
}
#hardtext4head{
    max-width: 640px;
    height:auto;
    font-family: Roboto-Regular;
    color: #323643;
    font-size: 40px;
    margin: 80px 0 0 40px; 
    letter-spacing: 0;   
}
#hardtext4p{
    max-width: 544px;
    height: auto;
    font-family: Roboto-Light;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 40px;
    letter-spacing: 0;
}
#apipic{
    background-image: url('../assets/home_icon2.png');
    width:42px;
    height:37px; 
    display: inline-block;
    vertical-align:middle;
}
#apitext{
    display: inline-block;
    color: #FFF;
    vertical-align: middle;
}
ul li{
    list-style-type:none;
}
/* ul{

} */
#apipic1{
    background-image: url('../assets/home_img5.png');
    width: 615px;
    height: 410.8px;
    margin: 50px 0 0 40px;
}
.textarea{
    display: flex;
    flex-direction: column;
}
#a11head,#a12head,#a13head,#a14head{
    max-width: 520px;
    font-family: Roboto-Regular;
    color: #323643;
    font-size: 40px;
    margin: 50px 0 22px -17px;
    letter-spacing: 0;
    list-style-position:outside;
    height:28px;  
    line-height:28px;  
    text-indent:15px;  
    background-image:url('../assets/home_icon4.png');
    background-position:left 45%;  
    background-repeat:no-repeat;  
}
#lirest{
    max-width: 520px;
    height:auto;
    font-family: Roboto-Regular;
    color: #323643;
    font-size: 40px;
    margin: -11px 0 22px 0px;
    letter-spacing: 0;
}
#a11text,#a12text,#a13text,#a14text{
    max-width: 500px;
    height: auto;
    font-family: Roboto-Regular;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 40px 0 0;
    letter-spacing: 0;
}
#apipic2area{
    /* background-image: url('../assets/bg.png'); */
    background-color: #FFF;
    
    /* 静态图 */
    /* background-image: url('../assets/home_img6.png'); */
    width:100%;
    margin-top: 100px;
    /* 修改布局 */
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
}
#apitext2{
    color: #000;
    max-width: 555px;
    font-size: 30px;
    font-family: Roboto-Bold;
    letter-spacing: 0.14px;
    text-align: left;
    left: 50%;
    transform: translateX(-90%);
    margin-top: 60px;
    margin-bottom: 60px;
  
}
#apipic2gif{
   /* 旧架构图 */
    /* background-image: url('../assets/apipic2.gif'); */
    /* 新架构图 */
    /* background-image: url('../assets/5555.gif'); */
    background-image: url('../assets/home-frame.gif'); 
    width: 800px;
    height: 400px;
    left: 50%;
    margin-bottom: 50px;
   
    
    /* transform: translate(30%,-10%); */

}


#apitext02{
    max-width:56px;
    color: #FFF;
    height:auto;
    position: relative;
    margin: 18px 0px 0 1135px;
}
#apipic3area{
    background-image: url('../assets/apipic3_need.png');
    width: 1156px;
    height: 644px;
    margin: 100px auto 100px auto;
}
#apparea{
    background: #F7F8F9;  
    text-align: center; 
    min-width: 1280px;
}
.appcombine{
    display: inline-block;
    margin: 15px 65px 95px 47px;
    font-family: Roboto-Medium;
    font-size: 18px;
    color: #0A1017;
    letter-spacing: 0;
    text-align: center;
}
.apiicontext{
    max-width: 118px;
}
#apptext{
    text-align: left;
    color: #0A1017;
    max-width: 540px;
    height:auto;
    font-size: 40px;
    padding: 60px 0 60px 0;
    margin-left: -600px;
    font-family: Roboto-Regular;
    letter-spacing: 0.14px;
    left: 50%;
    position: relative;
}
#apiicon1{
    background-image: url('../assets/icon1.png');
}
#apiicon2{
    background-image: url('../assets/icon2.png');
}
#apiicon3{
    background-image: url('../assets/icon3.png');
}
#apiicon4{
    background-image: url('../assets/icon4.png');
}
#apiicon5{
    background-image: url('../assets/icon5.png');
}
#apiicon6{
    background-image: url('../assets/icon6.png');
}
#apiicon6,#apiicon5,#apiicon4,#apiicon3,#apiicon2,#apiicon1{
    width:89px;
    height:100px;
}
.blue{
    color:#0290D5;
    background-color: #F7F8F9;
}
#benback{
    width: 100%;
    height: 375px;
    justify-content: center;
}
#benpic{
    background-image: url('../assets/home_icon3.png');
    width:46px;
    height:46px;
    display: inline-block;
    vertical-align: middle;
}
#bentext{
    color:white;
    display: inline-block;
    vertical-align: middle;
}
#beneicon1,#beneicon2,#beneicon3{
    display: inline-block;
    vertical-align: top;
    margin: 66px 73px 0 73px;
}
#bi1icon,#bi2icon,#bi3icon{
    margin: 0;
}
#bi1icon{
    background-image: url('../assets/icon7.png'); 
    width: 52px;
    height:50px;
}
#bi2icon{
    background-image: url('../assets/icon8.png'); 
    width:54px;
    height:53px;
}
#bi3icon{
    background-image: url('../assets/icon9.png'); 
    width:54px;
    height:53px;
}
.benefitstext{
    color: #0A1017;
    max-width: 300px;
    height:auto;
    font-size: 14px;
    margin: 40px 0 0 0;
    font-family: Roboto-Light;
    letter-spacing: 0;
}



/* 覆盖全局样式 */

.article_container{
    background-color:transparent; 
    width:1280px;
    height:auto;
    margin:0 auto 0 auto;
    display: flex;
}
.article_container_part{
    /* background-color:pink; */
    width:640px;
    /* height:100%; */
    margin:0 auto 0 auto;
}
.navi_btn{
border-color: #3F4045;
}


/* 统一定义所有图片宽高 */
#home_img1,#home_img2,#home_img3,#home_img4,#home_img5,#home_img6,#home_img7,#home_img8,#home_img9,#home_img10,#home_img11{
    width: 600px;
    height: 360px;
}
/*第一行*/
#home_img1{
    background-image: url('../assets/1.png');
    margin-right: 0;
}
#first{
    background-position: 0px 170px;
    font-family: Roboto-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img1texthead{
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #303136;
    letter-spacing: 0.11px;
    max-width: 540px;
    height:auto;
    margin-left: 60px;
    margin-top:120px ;  
}
#home_img1textp{
    max-width: 540px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 40px 0 0;
    font-family: Roboto-Light;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 60px
} 
/*第二行*/
#second{
    
    background-position:-4px 199px;
    font-family: Roboto-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img2texthead{
    max-width: 540px;
    height:auto;
    margin: 0px;
    font-family: Roboto-Bold;
font-size: 30px;
color: #303136;
letter-spacing: 0.11px;
margin-top: 120px;
margin-left: 40px;
margin-bottom: 20px;
}
#home_img2textp{
    max-width: 540px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 41px;  
    font-family: Roboto-Light;
font-size: 14px;
letter-spacing: 0;
line-height: 24px;
}  
#home_img2{
    background-image: url('../assets/2.png');
    margin: 0px ;
}
/*第三行*/
	#home_img3{
    background-image: url('../assets/3.png');
    margin-right: 0;
    
}
#third{
    background-position: 0px 170px;
    font-family: Roboto-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img3texthead{
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #303136;
    letter-spacing: 0.11px;
    max-width: 540px;
    height:auto;
    margin-left: 60px;
   
    margin-top:120px ;  
}
#home_img3textp{
    max-width: 540px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 40px 0 0;
    font-family: Roboto-Light;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 60px
}
/*第四行*/
#fourth{
    
    background-position:-4px 199px;
    font-family: Roboto-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img4texthead{
    max-width: 540px;
    height:auto;
    margin: 0px;
    font-family: Roboto-Bold;
font-size: 30px;
color: #303136;
letter-spacing: 0.11px;
margin-top: 120px;
margin-left: 40px;
margin-bottom: 20px;
}
#home_img4textp{
    max-width: 540px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 41px;  
    font-family: Roboto-Light;
font-size: 14px;
letter-spacing: 0;
line-height: 24px;
}  
#home_img4{
    /* background-image: url('../assets/4.png'); */
     /* 动态图效果测试 */
     background-image: url('../assets/1111-1.png');
    margin: 0px ;
}
/*第五行*/
	#home_img5{
        /* 动态图效果测试 */
        background-image: url('../assets/2222_2.png');
        /* background-image: url('../assets/5.png'); */
        margin-right: 0;
   
}
#fifth{
    background-position: 0px 170px;
    font-family: Roboto-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img5texthead{
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #303136;
    letter-spacing: 0.11px;
    max-width: 540px;
    height:auto;
    margin-left: 60px;
   
    margin-top:120px ;  
}
#home_img5textp{
    max-width: 540px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 40px 0 0;
    font-family: Roboto-Light;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 60px
}
/*第六行*/
#sixth{
    
    background-position:-4px 199px;
    font-family: Roboto-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img6texthead{
    max-width: 540px;
    height:auto;
    margin: 0px;
    font-family: Roboto-Bold;
font-size: 30px;
color: #303136;
letter-spacing: 0.11px;
margin-top: 120px;
margin-left: 40px;
margin-bottom: 20px;
}
#home_img6textp{
    max-width: 540px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 40px;  
    font-family: Roboto-Light;
font-size: 14px;
letter-spacing: 0;
line-height: 24px;
}  
#home_img6{
     /* GIF测试 */
    background-image: url('../assets/3333_1.png');
    /* background-image: url('../assets/6.png'); */
    margin: 0px ;
}
/*第七行*/
	#home_img7{
    /* GIF测试 */
    background-image: url('../assets/2222_1.png');
    /* background-image: url('../assets/7.png'); */
    margin-right: 0;
}
#seventh{
    background-position: 0px 170px;
    font-family: Roboto-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img7texthead{
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #303136;
    letter-spacing: 0.11px;
    max-width: 540px;
    height:auto;
    margin-left: 60px;
   
    margin-top:120px ;  
}
#home_img7textp{
    max-width: 540px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 40px 0 0;
    font-family: Roboto-Light;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 60px
}
/*第八行*/
#eighth{
    
    background-position:-4px 199px;
    font-family: Roboto-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img8texthead{
    max-width: 540px;
    height:auto;
    margin: 0px;
    font-family: Roboto-Bold;
font-size: 30px;
color: #303136;
letter-spacing: 0.11px;
margin-top: 50px;
margin-left: 40px;
margin-bottom: 20px;
}
#home_img8textp{
    max-width: 540px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 40px;  
    font-family: Roboto-Light;
font-size: 14px;
letter-spacing: 0;
line-height: 24px;
}  
#home_img8{
    background-image: url('../assets/8.png');
    margin: 0px ; 
}
/*第九行*/
	#home_img9{
    background-image: url('../assets/9.png');
    margin-right: 0;
    
}
#nineth{
    background-position: 0px 170px;
    font-family: Roboto-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img9texthead{
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #303136;
    letter-spacing: 0.11px;
    max-width: 540px;
    height:auto;
    margin-left: 60px;
   
    margin-top:120px ;  
}
#home_img9textp{
    max-width: 540px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 40px 0 0;
    font-family: Roboto-Light;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 60px
}
/*第十行*/
#tenth{
    
    background-position:-4px 199px;
    font-family: Roboto-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img10texthead{
    max-width: 540px;
    height:auto;
    margin: 0px;
    font-family: Roboto-Bold;
font-size: 30px;
color: #303136;
letter-spacing: 0.11px;
margin-top: 120px;
margin-left: 40px;
margin-bottom: 20px;
}
#home_img10textp{
    max-width: 540px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 40px;  
    font-family: Roboto-Light;
font-size: 14px;
letter-spacing: 0;
line-height: 24px;
}  
#home_img10{
    background-image: url('../assets/10.png');
    margin: 0px ;

}
/*第十一行*/
	#home_img11{
    background-image: url('../assets/11.png');
    margin-right: 0;
   
}
#eleven{
    background-position: 0px 170px;
    font-family: Roboto-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img11texthead{
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #303136;
    letter-spacing: 0.11px;
    max-width: 540px;
    height:auto;
    margin-left: 60px;
   
    margin-top:120px ;  
}
#home_img11textp{
    max-width: 540px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 40px 0 0;
    font-family: Roboto-Light;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 60px
}
#home_img6:hover{
    background-image: url(../assets/3333.gif);
}
#home_img4:hover{
    background-image: url(../assets/1111.gif);
}
#home_img5:hover{
    background-image: url(../assets/2222.gif);
}
#home_img7:hover{
    background-image: url(../assets/4444.gif);
}