#singupcontent{
    width:1000px;
    min-width: 1000px;
    height: 840px;
    margin: 100px auto;
    background: #F5F7F8;
    border-radius: 6px;
    margin-top: 170px;
    text-align: center;
}
#link{
    display: none;
}
.texthead{
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #303136;
    letter-spacing: 0.11px;
    padding-top: 30px;
}
.text{
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #999999;
    letter-spacing: 0;
    padding-left: 5px;
}
#headbelow{
margin-top: 40px;
}
#inputgroup{
    margin: 100px auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.table { display: table ;height: 410px;}
.tr { display: table-row ;width: 200px;height:50px;text-align: center;vertical-align: middle;}
.thead { display: table-header-group }
.tbody { display: table-row-group }
.tfoot { display: table-footer-group }
.col { display: table-column }
.colgroup { display: table-column-group }
.td,.th { display: table-cell }
.caption { display: table-caption }

.table-left{
    width: 200px;
    text-align: right;
    padding-right: 20px;
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
}
.table-right{
    text-align: left;
    width: 500px;

}
.input{
    width: 500px;
    height: 50px;
    padding-left: 10px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 6px;
}

input[type="checkbox"] + label {
    cursor: pointer;
    font-size: 1em;
    border: 1px #1486D1 solid;
}
[id^="checkbox-"] + label {
    background-color: #ffffff;
    border: 1px solid #666666;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
}

[id="checkbox-1"]:checked + label {
    
    background-image: url(../assets/checked.png);
    border: none;
    margin: 2px 2px 5px 0;
}
[id="checkbox-2"]:checked + label {
    
    background-image: url(../assets/checked.png);
    border: none;
    margin: 2px 2px 5px 0;
}

#textgroup{
    text-align: left;
    width: 400px;
    position: relative;
    margin-left: 0;
    margin-top: -100px;
    left: 50%;
    transform: translateX(-220px);

}
#check1{
margin-bottom: 10px;
padding-top: 20px;
}
#check2{
    margin-bottom: 10px;
    width: 410px;
}
#check2 a{
    color: lightblue;
    text-decoration: none;
}
#check2 a:hover{
    color: #0086D1;
    text-decoration: underline;
}
#btngroup{
margin: 40px auto;
text-align: center;
}
.btn{
    background: #A8AEB2;
    border-radius: 4px;
    width: 210px;
    height: 50px;
    vertical-align:middle;
    text-align: center;
}
#creat{
    font-family: Roboto-Medium;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    background: #0086D1;
}
#cancle{
    font-family: Roboto-Medium;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
}