.contianer_email{
    margin-left: auto;
    margin-top: 170px;
    margin-bottom: 100px;
	background:#F5F7F8;
    border-radius: 6px;
	height: 520px;
	width: 1000px;
	display: flex;
}
.youxiang_logo{
    margin-top:160px;
    margin-left:205px;
    margin-bottom: 10px;
}
.sec_text_email{
    display: inline;
}
/*.a123{
    width: 100px;
    height: 100px;
    background-color: aqua;
}
*/
.text_contianer_email{
    margin: 20px auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
}
.fir_text_email{
  
}