---
title: Contact Us
private_css: css/contact_us.css 
private_js: js/contact_us.js
contact: highlight
---

      <!--主体-->
     

        <div class="all">
          <div class="left">
            <div class="left-first">
                        <img src="./assets/content_icon7.png"  style="margin-right: 10px;"/>
                        <div class="left-first-span">
                        <span >Fill out the form below. We will answer you within 48 business hours.</span>
                      </div>
                    </div>
            <div class="left-second">
               <div class="demo2">
                            <div class="inner">
                                <input type="text" name="FIRST NAME" value="" class="input" placeholder="* FIRST NAME" style="border:none; padding-left: 20px;"> 
                                <input type="text" name="LAST NAME" value="" class="input"  placeholder="* LAST NAME" style="border:none; padding-left: 20px;">
                                <input type="text" name="INSTITUTION" value="" class="input" placeholder="* INSTITUTION" style="border:none; padding-left: 20px;">
                                <input type="text" name="PHONE" value="" class="input" placeholder="* PHONE" style="border:none; padding-left: 20px;">
                              </div>
                              <div class="inner2">
                                <input type="text" name="OCCUPATION" value="" class="input" placeholder="* OCCUPATION" style="border:none; padding-left: 20px;">
                                <input type="text" name="EMAIL" value="" class="input" placeholder="* EMAIL" style="border:none; padding-left: 20px;">
                                <input type="text" name="COUNTRY" value="" class="input" placeholder="* COUNTRY" style="border:none; padding-left: 20px;">
                                <input type="text" name="SUBJECT" value="" class="input" placeholder="* SUBJECT" style="border:none;padding-left: 20px;">
                              </div>
                        </div> 
            </div>
            <div class="left-third">
               <div  class="demo3" 
                 style="border:none;
                 background: #FAFAFA;
                 min-height:40px; 
                 width: 450px;
                 margin-left: 5px;
                 height: 160px; ">
                           <textarea cols="50" rows="5" placeholder=""  style="width:100% ; 
                           height:100%; border:none;
                           padding-top: 17px;padding-left: 25px;
                           color: #999999;
                           resize : none;"      class="in" id="textarea" onKeyDown="textdown(event)"
                onKeyUp="textup()" onfocus="if(value=='* MESSAGE (maximally 300 words)'){value=''}"
                onblur="if (value ==''){value='* MESSAGE (maximally 300 words)'}">* MESSAGE (maximally 300 words)</textarea>
            
                          </div> 
            </div>
            <div class="left-fourth">
              <div class="undertable">
                        <div class="request">
                       <span class="tablespan">* Required Field</span>
                    </div>
                  <div class="article-buttom">

                          <input type="checkbox" value="0" id="checkbox-1" style="display: none;">
                               <label for="checkbox-1"></label>
                  
                      <span style="color: #999999;"> Yes, I would like to receive newsletters from Fourier Intelligence.</span>
                   
                    <div id="btndiv"><input type="button" class="btn-content" value="SUBMIT" />
                    </div>
                  </div>
                </div>
               </div>
            
          </div>
          <div class="right">
            <div class="right-first">
               <p>Contact Fourier Intelligence</p>
            </div>
            <div class="right-second">
                <div class="text">
                          <div>
                             <span class="spitem"><span class="contact-flag-cn"  ></span>
                            Cooperate headquarters</span>
                          </div>
                             <p> Shanghai Fourier Intelligence Co.,Ltd. Floor 1, Building No.11, 68 Huatuo Road Pudong New Area,
                          Shanghai, China, 201203</p>
                           <div>
                            <span class="spitem" style="color:black;"><span class="contact-flag-phone" ></span>
                            +86（0）21 5030 8716</span>
                           </div>
                        <br>
                        <div>
                            <span class="spitem"><span class="contact-flag-web"></span><a class="contact-flag-websit" href="http://www.fftai.com">www.fftai.com</a></span>
                        </div>
                          <div class="content-border" style="margin-top:20px;border-top: 2px solid #E1E1E1;">
                            
                        </div>          
                        <div>
                            <span class="spitem"><span class=" contact-flag-in" ></span>International Hub Office</span>
                        </div>
                        <p> Fourier Intelligence International Ptd. Ltd. Marina One West Tower, 9 Straits View #05-07 Singapore,
                          018973</p>
                        <div>
                            <span class="spitem" style="color:black;"><span class="contact-flag-phone" ></span>+65 9338 2328</span>
                        </div>
                        <div class="content-border"  style="margin-top:20px;border-top: 2px solid #E1E1E1;"></div>
                        <div>
                            <span class="spitem"><span class=" contact-flag-us" ></span>Fourier-Melboume Joint Lab</span>
                        </div>
                        <p> Fourier-University of Melbourne Joint Lab Department of Mechanical Engineering, University of
                          Melbourne, Parkville, VIC 2010</p>
                          <div>
                            <span class="spitem"><span class="contact-flag-web"></span><a class="contact-flag-websit" href="https://blogs.unimelb.edu.au/fouriermelbrobotics/">https://blogs.unimelb.edu.au/fouriermelbrobotics/</a></span>
                        </div>
                      </div>
                      
            </div>
            
          </div>
        </div>