---
title: forgotInfo
private_css: css/forgotInfo.css 
private_js: js/forgotInfo.js
forgotInfo: highlight
---

<div class="contianer_main">
    <div>
        <div class="forgotImg">

        </div>
        <div class="textContent">
            <p>Password reset instructions have been sent to your email address. </p>
            <p>Please check the email and reset your password.</p>
        </div>
       
    </div>
</div>