---
title: Home page
private_css: css/home.css 
private_css1: css/community.css 
private_css2: css/newaos.css 
private_js: js/home.js
private_js1: js/newaos.js
home: highlight
---
<body>
   

    <div id="home_img_banner">
      <!--轮播插件-->
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators" style="width:100px;">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>   
          
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
              <div class="item active">
              <img src="./assets/banner1.png" alt="First slide">
              </div>
              <div class="item">
              <img src="./assets/banner2.png" alt="Second slide">
              </div>
              <div class="item">
              <img src="./assets/banner3.png" alt="Third slide">
              </div>
              <div class="item">
                  <img src="./assets/banner4.png" alt="Third slide">
              </div>
            </div>
          </div>
    </div>
    
    <div id="abovearea">
        <div id="abovehead">Innovative Future</div>
        <div id="abovetext">EXOPS stands for Fourier Exoskeleton & Robotics 
        Open Platform System. We provide an open platform to educate, 
        promote and accelerate the development 
        of exoskeleton and robotics system for future meaningful real-life adoption.</div>  
    <!-- 悬浮-->
      <div class="home_smllogo_group">
        <div id="home_smllogo3"></div>
        <a href="http://www.fftai.com"><div id="home_smllogo2"></div></a>
        <a href="https://blogs.unimelb.edu.au/fouriermelbrobotics/"><div id="home_smllogo1"></div></a>

      </div>
    </div> 

<!-- 这里是正文第一行 -->

    <!--第一行-->
    <div class="article_container">
        <div class="article_container_part">
          <div id="home_img1"></div>
        </div>
        <div class="article_container_part" id="first">
          <div id="home_img1text">
            <div id="home_img1texthead" style="margin-top:180px;">Why starts EXOPS?</div>
            <div id="home_img1textp">
              Exoskeletons are recent inventions; instead, they dated back for years. Some of the biggest reasons they have yet to become more visible in our daily life have to do with the efficient and meaningful application and its high prices. Likewise, lab researchers also struggle with the financial costs of building and buying exoskeleton for research purposes. However, being open could pool all resources for the greater good. By providing EXOPS, researchers don't have to reinvent the wheel by building exoskeletons from the ground up and accelerate the exploration and cooperation. </div>
          </div>
        </div>
      </div> 
      <!--第二-->
      <div class="article_container">
        <div class="article_container_part" id="second">
          <div id="home_img2text">
            <div id="home_img2texthead">Who needs EXOPS?</div>
            <div id="home_img2textp">
                Anyone who is aspired to make a contribution to the research and development of robotics technology. Such as robotic laboratories, research Institutes and all institute of higher learnings.
              </div>
          </div>
        </div>
        <div class="article_container_part">
            <div id="home_img2"></div>
          </div>
      </div>
      <!--第三行-->
      <div class="article_container">
        <div class="article_container_part">
          <div id="home_img3"></div>
        </div>
        <div class="article_container_part" id="third">
          <div id="home_img3text">
            <div id="home_img3texthead">What does EXOPS provide?</div>
            <div id="home_img3textp">
                  EXOPS is the first of its kind to provide an software-centric platform with modular hardware while delivering the multiple locomotion patterns to global creators. It provides hardware, API, SDK, development support, etc. 
            </div>
          </div>
        </div>
      </div> 
       <!--第四-->
      <div class="article_container">
        <div class="article_container_part" id="fourth">
          <div id="home_img4text">
            <div id="home_img4texthead">Fourier X2</div>
            <div id="home_img4textp">
                 Fourier has designed the new generation of Exoskeleton Robot – Fourier X2. With the powerful actuating system, multisensory fusion technology and core motion control algorithm, X2 applies to walking assistance, rehab training and enhancement of motor functions.
            </div>
          </div>
        </div>
        <div class="article_container_part">
            <div id="home_img4"></div>
          </div>
      </div>
      <!--第五行-->
      <div class="article_container">
        <div class="article_container_part">
          <div id="home_img5"></div>
        </div>
        <div class="article_container_part" id="fifth">
          <div id="home_img5text">
            <div id="home_img5texthead">Main Motion Control Unit (MMU)</div>
            <div id="home_img5textp">
                  Fourier has designed a proprietary motion control unit, providing competitive Floating Point Calculations that is essential for high-speed communication, real-time data acquisition and accurate task execution via CAN Open/ Ethernet API .
            </div>
          </div>
        </div>
      </div> 
       <!--第六行向右-->
      <div class="article_container">
        <div class="article_container_part" id="sixth">
          <div id="home_img6text">
            <div id="home_img6texthead">Actuating System</div>
            <div id="home_img6textp">
                    The actuating units are located at hip and knee joints, with integrated motors and reducers to help X2 deliver powerful torque output. 
            </div>
          </div>
        </div>
        <div class="article_container_part">
            <div id="home_img6"></div>
          </div>
      </div>
      <!--    第七行-->
      <div class="article_container">
        <div class="article_container_part">
          <div id="home_img7"></div>
        </div>
        <div class="article_container_part" id="seventh">
          <div id="home_img7text">
            <div id="home_img7texthead">Force Sensing System</div>
            <div id="home_img7textp">
              While walking with X2, the built-in sensors will detect the force from you and dynamically adjust the power output, allowing for a variety of operating modes including passive, active and assistive mode.            </div>
          </div>
        </div>
      </div> 
      <!--第八行向右-->
      <div class="article_container">
        <div class="article_container_part" id="eighth">
          <div id="home_img8text">
            <div id="home_img8texthead">Innovate Together：EXOPS+ NI Platform</div>
            <div id="home_img8textp">
                    Using the NI platform, including a CompactRIO embedded system and a real-time controller with an FPGA control architecture provided by Single-Board RIO, to acquire data from various sensors and control peripheral units, high-speed communication devices, and actuators; and using LabVIEW software to acquire reliable data by conducting real-time analysis and applying various robot control algorithms to dramatically reduce development time.
            </div>
          </div>
        </div>
        <div class="article_container_part">
            <div id="home_img8"></div>
          </div>
      </div>
      <!--第九行-->
      <div class="article_container">
        <div class="article_container_part">
          <div id="home_img9"></div>
        </div>
        <div class="article_container_part" id="nineth">
          <div id="home_img9text">
            <div id="home_img9texthead">API</div>
            <div id="home_img9textp">
                 EXOPS connects and integrates local and cloud-based services & APIs: enabling the application of different AI capacities, allowing the development of exoskeleton and robotics innovation via various interface including CAN Bus, Ethernet, PCI, etc. 
            </div>
          </div>
        </div>
      </div> 
       <!--第十-->
      <div class="article_container">
        <div class="article_container_part" id="tenth">
          <div id="home_img10text">
            <div id="home_img10texthead">SDK</div>
            <div id="home_img10textp">
                    The EXOPS’s SDK gives access to the complete set of features of the exoskeleton and robotics control. Users could adjust gait trajectory, velocity, force assistance and also complete the PID, impedance and adaptive control.
            </div>
          </div>
        </div>
        <div class="article_container_part">
            <div id="home_img10"></div>
          </div>
      </div>
      <!--第十一行-->
      <div class="article_container">
        <div class="article_container_part">
          <div id="home_img11"></div>
        </div>
        <div class="article_container_part" id="eleven">
          <div id="home_img11text">
            <div id="home_img11texthead">Development Support</div>
            <div id="home_img11textp">
                  EXOPS offers professional consultation such as experts from University of Melbourne and engineers from National Instruments and Fourier Intelligence, online teaching course,  materials download centers to provide an efficient data sharing platform.
            </div>
          </div>
        </div>
      </div> 


<!-- 展开动效 -->
    <div id="apipic2area">
      <!-- 可插静态图（自带文字） -->
       <!-- <div id="apitext2">What is the EXOPS Frame Like?</div> -->
      <!--插入动态图-->
      <!-- <div id="apipic2gif">      </div> -->
        <div class="containers" style="height:700px;padding-top: 0px;">
          <h1 style="font-weight: bold;">What is the EXOPS Frame Like?</h1>
          <div class="all-speak-kotlin center_animation">
              <!-- 左边 -->
              <div class="all-speak-kotlin_links _left">
                  <div class="all-speak-kotlin_link _talking_kotlin  aos-init item1" data-svg-id="talking_kotlin">
                      <a href="javascript:void(0)" class="all-speak-kotlin_link-button">
                          <span>Gait Trajectory</span>
                          <div class="all-speak-kotlin_link-pointer"></div>
                      </a>
                  </div>
  
                  <div class="all-speak-kotlin_link _reddit item1 active1" data-svg-id="reddit">
                      <a href="javascript:void(0)" class="all-speak-kotlin_link-button  ">
                          <span>Unity</span>
                          <div class="all-speak-kotlin_link-pointer"></div>
                      </a>
                  </div>
  
                  <div class="all-speak-kotlin_link _slack item1 active2" data-svg-id="slack">
                      <a href="javascript:void(0)" class="all-speak-kotlin_link-button">
                          <span>Eclipse</span>
                          <div class="all-speak-kotlin_link-pointer"></div>
                      </a>
  
                  </div>
  
                  <div class="all-speak-kotlin_link _linkedin item1 active3" data-svg-id="linkedin">
                      <a href="javascript:void(0)" class="all-speak-kotlin_link-button">
                          <span>Actuation System</span>
                          <div class="all-speak-kotlin_link-pointer"></div>
                      </a>
  
                  </div>
                  <div class="all-speak-kotlin_link _five  item1 active4" data-svg-id="five">
                      <a href="javascript:void(0)" class="all-speak-kotlin_link-button">
                          <span>NI cRIO</span>
                          <div class="all-speak-kotlin_link-pointer"></div>
                      </a>
                  </div>
                  <div class="all-speak-kotlin_link _six item1 active5" data-svg-id="six">
                      <a href="javascript:void(0)" class="all-speak-kotlin_link-button">
                          <span>Fourier MMU</span>
                          <div class="all-speak-kotlin_link-pointer"></div>
                      </a>
                  </div>
  
              </div>
              <!--中间-->
              <div class="all-speak-kotlin_img">
                  <div class="img_top">
                      <img src="./assets/E.png" alt="" id="Layer_1" data-name="Layer 1" class="Layer_1">
                      <img src="./assets/new1.png" alt="" class="img_01 show1 item_list1" data-show="1"
                          id="talking_kotlin">
                      <img src="./assets/new7.png" alt="" class="img_02 show7 item_list1" data-show="7"
                          id="kotlin_talks2">
                      <img src="./assets/new8.png" alt="" class="img_03 show8 item_list1" data-show="8" id="kotlin_talks">
                  </div>
                  <div class="img_cen">
                      <div class="img_left">
                          <img src="./assets/cen_left1.png" alt="" class="Layer_2" id="Layer_3">
                          <img src="./assets/new2.png" alt="" class="img_04 show2 item_list1" data-show="2" id="slacks">
                          <img src="./assets/new3.png" alt="" class="img_05 show3 item_list1 first_z" data-show="3"
                              id="reddit">
                          <img src="./assets/new10.png" alt="" class="img_06 show10 item_list1" data-show="10"
                              id="stackoverflow">
                          <img src="./assets/new9.png" alt="" class="img_07 show9 item_list1 first_z" data-show="9"
                              id="kotlin_forum">
                      </div>
                      <div class="img_right">
                          <img src="./assets/cen_left.png" alt="" class="Layer_3" id="Layer_6">
  
                      </div>
  
                  </div>
                  <div class="img_bot">
                      <img src="./assets/E2.png" alt="" id="Layer_8" class="Layer_4">
                      <img src="./assets/new5.png" alt="" class="img_08 show5 item_list1" data-show="5" id="linkedin">
                      <img src="./assets/new4.png" alt="" class="img_09 show4 item_list1" data-show="4" id="twitter1">
                      <img src="./assets/new11.png" alt="" class="img_10 show11 item_list1 first_z" data-show="11"
                          id="twitter2">
                      <img src="./assets/new6.png" alt="" class="img_11 show6 item_list1" data-show="6" id="youtrack">
                      <img src="./assets/new13.png" alt="" class="img_12 show13 item_list1" data-show="13" id="google">
                      <img src="./assets/new12.png" alt="" class="img_13 show12 item_list1" data-show="12" id="twitter">
                  </div>
  
              </div>
              <!--右边-->
              <div class="all-speak-kotlin_links _right">
                  <div class="all-speak-kotlin_link _kotlin-talks item1 active6" data-svg-id="kotlin_talks">
                      <a href="javascript:void(0)" class="all-speak-kotlin_link-button">
                          <span>Velocity/Acceleratio</span>
                          <div class="all-speak-kotlin_link-pointer"></div>
                      </a>
                  </div>
  
                  <div class="all-speak-kotlin_link _kotlin-forum item1 active7" data-svg-id="kotlin_forum">
                      <a href="javascript:void(0)" class="all-speak-kotlin_link-button">
                          <span>Force Assistance</span>
                          <div class="all-speak-kotlin_link-pointer"></div>
                      </a>
                  </div>
  
                  <div class="all-speak-kotlin_link _stackoverflow item1 active8" data-svg-id="stackoverflow">
                      <a href="javascript:void(0)" class="all-speak-kotlin_link-button">
                          <span>LabView</span>
                          <div class="all-speak-kotlin_link-pointer"></div>
                      </a>
                  </div>
  
                  <div class="all-speak-kotlin_link _twitter item1 active9" data-svg-id="twitter">
                      <a href="javascript:void(0)" class="all-speak-kotlin_link-button">
                          <span>LabView</span>
                          <div class="all-speak-kotlin_link-pointer"></div>
                      </a>
                  </div>
  
                  <div class="all-speak-kotlin_link _youtrack item1 active10" data-svg-id="youtrack">
                      <a href="javascript:void(0)" class="all-speak-kotlin_link-button">
                          <span style="    width: 145px;
                          display: block;">Force Sensing System</span>
                          <div class="all-speak-kotlin_link-pointer"></div>
                      </a>
                  </div>
                  <div class="all-speak-kotlin_link _Twelve item1 active11" data-svg-id="Twelve">
                      <a href="javascript:void(0)" class="all-speak-kotlin_link-button">
                          <span>Fourier X2</span>
                          <div class="all-speak-kotlin_link-pointer"></div>
                      </a>
                  </div>
                  <div class="all-speak-kotlin_link _Thirteen item1 active12" data-svg-id="Thirteen">
                      <a href="javascript:void(0)" class="all-speak-kotlin_link-button">
                          <span>Motion Sensors</span>
                          <div class="all-speak-kotlin_link-pointer"></div>
                      </a>
                  </div>
  
              </div>
          </div>
      </div>





    </div>

    <!--application area-->
    <div id="apparea">
    <!--插背景色-->
    <div id="apptext">Application in Multiple Areas</div>
    <div class="article_container blue">
        <div class="appcombine">
        <div id="apiicon1"></div>
        <div class="apiicontext" id="apiicon1text">Industrial</br>Robotics</div> 
        </div>

        <div class="appcombine">
        <div id="apiicon2"></div> 
        <div class="apiicontext" id="apiicon2text">Service</br>Robotics</div> 
        </div>

        <div class="appcombine">
        <div id="apiicon3"> </div>
        <div class="apiicontext" id="apiicon3text">Research &</br>Development</div>
        </div>

        <div class="appcombine">
        <div id="apiicon4"></div>
        <div class="apiicontext" id="apiicon4text">Geriatric &</br> Assistive</div> 
        </div>

        <div class="appcombine">
        <div id="apiicon5"> </div>
        <div class="apiicontext" id="apiicon5text">Human </br>Performance</div>
        </div>

        <div class="appcombine">
        <div id="apiicon6"> </div>
        <div class="apiicontext" id="apiicon6text">Medical &</br>Rehabilitation</div>
        </div>

    </div>
    </div>

    <!--BENEFITS area-->
    <div id="benefitshead">
    <div id="beninfo">
    <div id="bentext">BENEFITS</div>
    </div>
    </div>
    <div class="article_container" id="benback">
    <div id="beneicon1">
        <div id="bi1icon"></div>
        <div class="benefitstext" id="bi1text">Being an open, software centric platform, EXOPS collects information enriched by the sensors, motions, 
        generating precious added-value to satisfy individual needs. </div>
    </div>
    <div id="beneicon2">
        <div id="bi2icon"></div>
        <div class="benefitstext" id="bi2text">EXOPS strengthens and deepens the understandings of exoskeleton and also expands 
            the possibilities in academic communication and research cooperation via this robust, feature-rich 
            and advanced platform.</div>
    </div>
    <div id="beneicon3">
        <div id="bi3icon"></div>
        <div class="benefitstext" id="bi3text">Empowers technical support and service for consultancy of product information to 
            reinforce EXOPS  innovative technologies. </div>
    </div>
    </div>

    <div class="footer_container">
        <div class="footer_logo"></div>
        <div id="footer_text1">
            <span>Join Us and Sign up Your Developer Account</span>
        </div>
        <button id="footer_btn"  class="navi_btn"  onclick="Global.register()">
            Register Now
        </button>
    </div>
</body>



<script src="./js/newaos.js"></script>
<!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> -->
<script>
    //循环换图片
    var newlist = $(".item1")
    for (var i = 0; i < newlist.length; i++) {
        (function (
            arg) {
            var num = arg + 1;
            newlist[i].onmouseover = function () {
                $(".show" + num + "").attr("src", "./assets/show" + num + ".png")
                $(this).find("a").addClass("all-speak-kotlin_link-button_hover");
            }
            newlist[i].onmouseout = function () {
                $(".show" + num + "").attr("src", "./assets/new" + num + ".png")
                $(this).find("a").removeClass("all-speak-kotlin_link-button_hover");
            }
        })(i);

    }
    var newlist_item = $(".item_list1")
    for (var i = 0; i < newlist_item.length; i++) {
        (function (arg) {
            var num = arg + 1;
            newlist_item[i].onmouseover = function () {
                var newNum = $(this).attr("data-show")
                $(".show" + newNum + "").attr("src", "./assets/show" + newNum + ".png")
                $(".item1").eq(newNum - 1).find("a").addClass("all-speak-kotlin_link-button_hover");
            }
            newlist_item[i].onmouseout = function () {
                var newNum = $(this).attr("data-show")
                $(".show" + newNum + "").attr("src", "./assets/new" + newNum + ".png");
                $(".item1").eq(newNum - 1).find("a").removeClass("all-speak-kotlin_link-button_hover");
            }
        })(i);
    }

    //添加动效
    $(".item1").attr({
        "data-aos": "animation",
        "data-aos-anchor": ".all-speak-kotlin",
        "data-aos-anchor-placement": "top-center"
    })
    $(".item_list1").attr({
        "data-aos": "animation",
        "data-aos-anchor": ".all-speak-kotlin",
        "data-aos-anchor-placement": "top-center"
    })

    $(".Layer_2").attr({
        "data-aos": "animation",
        "data-aos-anchor": ".all-speak-kotlin",
        "data-aos-anchor-placement": "top-center"
    })
    $(".Layer_3").attr({
        "data-aos": "animation",
        "data-aos-anchor": ".all-speak-kotlin",
        "data-aos-anchor-placement": "top-center"
    })
    $(".Layer_4").attr({
        "data-aos": "animation",
        "data-aos-anchor": ".all-speak-kotlin",
        "data-aos-anchor-placement": "top-center"
    })



    AOS.init();
</script>