---
title: Login
private_css: css/login.css
private_js: js/login.js
login: highlight
---
<div class="all" style="margin-top: 170px;">
  <div class="left">
  	<div class="left-first">
  		<p>Login or Create new account</p>
  	</div>
    <div class="left-second">
    	<p>Already member?</p>
    	<div class="content-border" style="width:430px;margin-top:20px;margin-left:30px;border-top: 2px solid #E1E1E1;">
  	</div>
    </div>
    <div class="left-third">
    	<p>Use your email and password to login</p>
    	
    </div>
    <form action="" id="form2">
      <div class="left-fourth">
        <input type="email" name="email" value="" class="input1" placeholder="* EMAIL" required style="border:none;height: 50px;background: #FFFFFF;
        border: 1px solid #D4D4D4;
        border-radius: 6px; padding-left: 20px;">
          <input type="password" name="password" value="" class="input2" placeholder="* PASSWORD" required style="border:none; height: 50px;background: #FFFFFF;
          border: 1px solid #D4D4D4;
          border-radius: 6px;margin-top: 10px; padding-left: 20px;">
     </div>
     <div class="left-fifth">
       
          <button type="reset" class="left-fifth-btn-left" id="Cancel" >Cancel</button>
          <button type="submit" class="left-fifth-btn-right" id="Log In" >Log In</button>
                 
     
     </div>
     <div class="left-sixth" style="margin-top: 20px;">
    
         <span class="left-sixth-span1">* Required Fields</span>
         <a href="forgotPwd.html"><span class="left-sixth-span2">Forgot your password?</span></a>
    </form>
    
    	
    </div>
  </div>
  <div class="right">
  	<div class="right-first">
  		<p>New account</p>
  		<div class="content-border" style="width:375px;margin-top:22px;margin-left:0px;border-top: 2px solid #E1E1E1;">
  	</div>
  		</div>
    <div class="right-second">
    	<p>Create an account and access to all websites from Softbank Robotics</p>
    </div>
    <div class="right-third">
       <button class="right-third-button" onclick="window.location.href='register.html'">Create an account</button>
    </div>
  </div>
    </div>
   