---
title: privacyPolicy
private_css: css/privacyPolicy.css 
private_js: js/privacyPolicy.js
privacyPolicy: highlight
---
---
title: termOfUse
private_css: css/termOfUse.css 
private_js: js/termOfUse.js
termOfUse: highlight
---
<div class="contianer_main">
    <div class="textTop">
        <p>Privacy policy</p>
    </div>
    <div class="scrollContent">
        <div class="textContent">
            <p>Shanghai Fourier Intelligence Co. Ltd., located at Floor 1, Building No.11, 68 Huatuo Road, Pudong New Area, Shanghai, China, 201203 (« Shanghai Fourier Intelligence Co. Ltd. » or «Fourier» or « we ») is commited to respecting the privacy of all users (« you ») of our websites products and services (collectively the «Services»). This Privacy Policy (« Policy ») is intended to provide you with information on how we process the information that you provide to us when you access the Services. If you do not agree with the terms of this Policy, please do not use our Services. </p>
            <p>Some of our Services may be subject to separate terms and conditions, policies and disclaimers governing their use. These supplemental terms, policies or disclaimers shall be incorporated into this Policy and shall prevail over any conflicting provision of this Policy. </p>
            <p>Our websites and Services may contain links to third-party websites, products or services and our Services may use or offer products or services from third-parties – for example, a third-party website. Note that information collected by such third parties, which may include personal information, is governed by their own privacy practices that we encourage you to consult. </p>
            <p>Personal Information: Personal information is data that identify a single person. It does not include aggregate or anonymized information which is data we collect about User’s, or group/category of Users’, use of the Services from which individual identities or personnel information are not know or have been removed.</p>
        </div>
        <div class="textHead">
            <p>INFORMATION WE COLLECT FROM YOU</p>
        </div>
        <div class="textContent">
            <p>The information we learn from you helps us deliver, operate effectively, personalize and continually improve our Services. Such data may include personal information and also data in a form that does not, on its own, permit direct association with any specific individual. </p>
        </div>
        <div class="textHead">
            <p>Here are the types of information we gather:</p>
        </div>    
        <div class="textContent">
            <p>Information you give us: we collect and store information you provide us when you set up your account on the website; communicate with us by phone, e-mail or otherwise; complete an entry form; send us your questions and other information necessary to process your enquiries. As a result of those actions, you might supply us with such information as your name, institution, company, country, email address or phone number. </p>
            <p>Cookies: we use cookie technology in order to offer you a better and more personalized surfing on our website.</p>
            <p>A cookie is a small text file which registers information regarding your navigation. Nearly every website uses cookie technology to make websites work and to optimize design and functionality. Fourier uses the following categories of cookies on this </p>
        </div>
        <div class="textHead">
            <p>website:</p>
        </div>    
        <div class="textContent">
            <p>Strictly necessary cookies that enable you to move around the website and use its basic functions. They are usually only set in response to actions made by you which amount to a request for services, such as log into a secure area of the site. These cookies are indispensable for the use of the website.</p>
            <p>Functional cookies that are used to recognize you when you return to our website and enable us to offer you improved and more personalized functions like remember your preferences (e.g. your choice of language or region). These cookies collect anonymous information and cannot track your movements on other websites.</p>
            <p>Analytical and performance cookies that allow us to know about how our website is used and thus helps us to improve the way our website works. Such information relates, for example, to the navigator used, the number of pages visited, the number of visits, time spent on the website, on a particular page, etc.</p>
            <p>No primary personal data (last name, first name, phone number, email address...) is gathered and only two types of secondary data (i.e. data that might possibly lead to an individual in certain circumstances) are collected here – cookies and IP number.</p>
            <p>- Your IP is used by our provider for sole purposes of geo-localizing the connecting device (regional details, potentially details of the town in some countries) to enrich the data collection. The IP is anonymized just after the operation of geo-localizing and stored in encrypted format.</p>
            <p>- The cookies used here are “first party" cookies. The lifespan of such cookies shall not exceed 13 months.</p>
            <p>In any event, you have control over the cookies since they are stored on you device, at browser level. You are therefore able to read them, filter them, refuse them and suppress them, following the provisions below:</p>
        </div>
        <div class="textHead">
            <p>Refusing a cookie via browser software:</p>
        </div>    
        <div class="textContent">
            <p>The browser may also be set as stated hereunder to indicate the cookies saved in the terminal and request whether or not to accept them (on a case by case or overall basis). </p>
            <p>Internet Explorer: Click on the Tools button, then on Internet Options. In the General tab, choose Browsing history, click on Settings. Then click Select files and select the  cookie(s) you wish to disable. Then close the window containing the list of  Cookies and click twice on OK to return to internet.</p>
            <p>Firefox browser: Click on the Firefox Menu icon, then on the Tools button, then Options; in the window that appears, select Privacy and collect Remove Specific Cookies. Select the cookies you wish to disable then remove them.</p>
            <p>Safari: click on the Settings button, then on Preferences. In the window that appears, choose Privacy/Security and click on Show  cookies. Select the Cookies you wish to disable then click on Delete or Delete All.</p>
            <p>Chrome: click on the Google Chrome menu, then Settings. At the bottom of the page, click on Advanced Settings. In the Privacy section, click on Content Settings. To disable cookies: Select Block sites from storing any data; then click on Cookies and site data then move the mouse over the website which created the Cookie, and click on X in the right corner, or click on Remove All.</p>
        </div>
        <div class="textHead">
            <p>SHARING YOUR PERSONAL INFORMATION</p>
        </div>    
        <div class="textContent">
            <p>At times, Shanghai Fourier Intelligence Co. Ltd. may make certain personal information available to third Parties:</p>
            <p>As part of a merger or sale of a business;</p>
            <p>With vendors, agents and licensors of Shanghai Fourier Intelligence Co. Ltd.;</p>
            <p>Other Fourier users, as authorized by you or your use of Fourier sites, products, services, applications and tools;</p>
            <p>When required by law or to respond to legal process or lawful requests, including from law enforcement or other government agencies;</p>
            <p>To enforce or apply our conditions of use and other agreements or protect the property and safety of Shanghai Fourier Intelligence Co. Ltd., our users or others (this does not include selling, renting or otherwise disclosing your information for commercial purposes in a way that is contrary to the commitments made in this Policy);</p>
            <p>Other than set out above, you will receive notice when information about you might go to third party and you will have an opportunity to choose not to share the information.</p>
        </div>
        <div class="textHead">
            <p>TRANSFER OF YOUR INFORMATION </p>
        </div>
        <div class="textContent">
            <p>Therefore and regardless of the country where you reside, you authorize us to transfer, process, store and use your information in countries other than your own in accordance with this Policy.</p>
        </div>
        <div class="textHead">
            <p>DATA RETENTION</p>
        </div>
        <div class="textContent">
            <p>Shanghai Fourier Intelligence Co. Ltd. will retain your information only for as long as is necessary for the purposes set out in this Policy, for as long as your Fourier account is active or as needed to provide you with the Services.</p>  
        </div>
        <div class="textHead">
            <p>ACCESSING YOUR PERSONAL INFORMATION</p>
        </div>
        <div class="textContent">
            <p>Where permitted by law, you may have the right to obtain a copy of Personal Information that we hold about you. Before responding to your request, we may ask you to (i) verify your identity and (ii) provide further details so we can better respond to your request. We will endeavor to respond within an appropriate timeframe and, in any event, within any timeframe required by law. If you want to exercise this right, please contact us using the contact details provided below;</p>
            <p>As a user and/or client of our Services , you can access the Personal Data we hold about you via your account to correct, amend, or delete information that is inaccurate. You may also update or delete your personal information by contacting us, using the contact details provided below. You can also close your account online at any time and have the right to object to the processing of your Personal Data.</p>
            <p>Please note that in some cases we may retain certain information about you as required by law, or for legitimate purposes. For instance, if we believe you have committed fraud or violated our Terms and Conditions, we may want to keep some of your information to avoid that you circumvent the rules applicable to our Services.</p>
            <p>We may decline to process certain data access requests, such as those that are frivolous, jeopardize the privacy of others, are extremely impractical, or for which access is not otherwise required by local law. All requests regarding privacy requests should be sent to the contact address indicated below.</p>
            <p>You also have the right to make a complaint to the relevant data protection supervisory authority or to seek a remedy through the courts if you believe that your rights have been breached.</p>
        </div>
        <div class="textHead">
            <p>CHANGES</p>
        </div>
        <div class="textContent">
            <p>We reserve the right to bring changes to this Privacy Policy from time to time, so you should check it periodically. We will also keep prior versions of this Privacy Policy in an archive for you review.</p>
        </div>
        <div class="textHead">
            <p>CONTACT</p>
        </div>
        <div class="textContent">
            <p>If you would like to contact us with any enquiry relating to your Personal Data, you can do so by sending a letter to the address mentioned at the beginning of this document, Attn : Service Department- or an email to Service@fftai.com</p>
        </div>
    </div>
    <!-- <div class="downloadLink">
        <a href=""><p>Download PDF</p></a>
    </div> -->
</div>