---
title: Register
private_css: css/register.css
private_js: js/register.js
signup: highlight
---




      <div id="singupcontent">
        <div class="texthead">Create your account</div>
        <div class="text" id="headbelow">
            <img src="./assets/content_icon7.png" />
          Please fill your account details below.
        </div>
        <form id="form1" action="#" method="post" autocomplete="off">
          <div id="inputgroup" class="table">
            <div class="tr">
              <div class="td table-left">* FIRST NAME</div>
              <div class="td table-right"><input type="text" title="FIRST NAME" name="firstName" id="firstName" class="input"   oninvalid="setCustomValidity('Please enter your first name.');" oninput="setCustomValidity('');" ></div>
            </div>
            <div class="tr">
                <div class="td table-left">* LAST NAME</div>
                <div class="td table-right"><input type="text" title="LAST NAME" name="lastName" id="lastName" class="input"  oninvalid="setCustomValidity('Please enter your last name.');" oninput="setCustomValidity('');"></div>
              </div>
            <div class="tr">
              <div class="td table-left">* EMAIL</div>
              <div class="td table-right"><input type="email" name="email" id="email" title="EMAIL" class="input"  oninvalid="setCustomValidity('Please enter your email.');" oninput="setCustomValidity('');"></div>
            </div>
            <div class="tr">
              <div class="td table-left">* PASSWORD</div>
              <div class="td table-right"><input type="password" name="password" title="PASSWORD" class="input"  id="pwd" oninvalid="setCustomValidity('Please enter your password.');" oninput="setCustomValidity('');"></div>
            </div>
            <div class="tr">
              <div class="td table-left">* PASSWORD CONFIRMATION</div>
              <div class="td table-right"><input type="password" name="pwd2" title="PASSWORD CONFIRMATION" class="input"  id="pwd2"  oninvalid="setCustomValidity('Please enter your password.');" oninput="setCustomValidity('');"></div>
            </div>
            <div class="tr">
              <div class="td table-left">* COMPANY/INSTITUTION</div>
              <div class="td table-right"><input type="text" name="institution" id="company" title="COMPANY/INSTITUTION" class="input"  oninvalid="setCustomValidity('Please enter your company/institution.');" oninput="setCustomValidity('');"></div>
            </div>
            <div class="tr">
                <div class="td table-left">* COUNTRY</div>
                <div class="td table-right"><input type="text" name="country" id="country" title="COUNTRY" class="input"  oninvalid="setCustomValidity('Please enter your country.');" oninput="setCustomValidity('');"></div>
            </div>
            <div class="tr" style="display:none">
                <div class="td table-left">link</div>
                <div class="td table-right"><input type="text" name="link" class="input" id="link"></div>
            </div>
          </div>

          <div id="textgroup">
            <div class="text" id="check1">
                <input type="checkbox" value="0" id="checkbox-1" style="display: none;">
                <label for="checkbox-1"></label> I want to receive EXOPS Newsletter.</div>
              <div class="text" id="check2">
                  <input type="checkbox" value="0" id="checkbox-2" style="display: none;">
                  <label for="checkbox-2"></label> I agree with EXOPS  <a href="termOfUse.html">Terms of Use</a> and <a href="privacypolicy.html">Privacy Policy</a>.</div>
              <div class="text" >* Required Fields</div>
        </div>
         <a href=""></a>
          <div id="btngroup">
            <button class="btn" id="cancle" type="reset">Cancel</button>
            <button class="btn" id="create" type="submit" >Create an account</button>
          </div>


        </form>
       
      
      
     
      
      </div>
