---
title: sentemail
private_css: css/sentemail.css 
private_js: js/sentemail.js
support: highlight
---  
<div class="contianer_email">
    <div>
        <div >
            <img src="./assets/youxiang.png" class="youxiang_logo">
        </div>
        <div class="text_contianer_email">
            <div class="fir_text_email">Account activation email has been sent to<span>***@**.com.</span></div>
            
            <div class="sec_text_email">Please check the email and activate it.</div>  
        </div>
    </div>
</div>