---
title: success
private_css: css/success.css 
private_js: js/success.js
support: highlight
---  
<div class="contianer_success">
    <div>
        <div >
            <img src="../assets/chenggong.png" class="chenggong_logo">
        </div>
        <div class="text_contianer_success">
            <div class="fir_text_success">The account is activated.</div>
            <div class="sec_text_success">Automatically jumps to the login page after</div>
                <span id="countdown">5</span>
                <span>S.</span>    
        </div>
    </div>
</div>