---
title: termOfUse
private_css: css/termOfUse.css 
private_js: js/termOfUse.js
termOfUse: highlight
---
<div class="contianer_main">
    <div class="textTop">
        <p>Term Of Use</p>
    </div>
    <div class="scrollContent">
        <div class="textContent">
            <p>These Terms of Use (the “Terms of Use”) set forth the agreement between Shanghai Fourier Intelligence Co. Ltd., located at Floor 1, Building No.11, 68 Huatuo Road, Pudong New Area, Shanghai, China, 201203 with VAT number 9131000035105342XD (“Fourier” or “us”, “we” and “our”) and each user (“you”) governing your use of Fourier’s products and services, including websites and apps (collectively the “Sites”), servers, applications, software tools and the framework through which these products and services are provided (altogether the “Services”). </p>
            <p>The Publication Director of the Sites is Mr Jie Gu, President of Fourier.</p>
            <p>This website is hosted by: SHANGHAI ADINNET INFORMATION TECHNOLOGY CO.,LTD</p>
            <p>By using any of our Services, you agree to be bound by the Terms of Use. The Services and the Sites are the property of Fourier or other companies of Fourier Intelligence. </p>
            <p>Clicking on certain links within the Sites, such as the Fourier Intelligence, will take you into the official website that is under Fourier’s control and subject to separate terms.</p>
            <p>Fourier reserves the right to change, modify, add or remove portions of these Terms of Use, at any time and it is your responsibility to check these Terms of Use for changes or updates.</p>
            <p>Fourier may change any features of the Services, at any time, without notice. Information on products and services available on the Sites may be out of date, and Fourier makes no commitment to keep them updated.</p>
            <p>You certify that you are of the legal age of majority in the jurisdiction in which you reside (at least 18 years of age in many countries) and you represent that you are legally permitted to use the Services. These Terms of Use are void where prohibited by law and the right to use the Services is not granted in such jurisdictions. </p>
        </div>
        <div class="textHead">
            <p>I. Intellectual Property</p>
        </div>
        <div class="textContent">
            <p>You acknowledge that all designs, graphics, text, user interfaces, pictures, trademarks, logos, sounds, music, artwork, software and other content contained on the Services and the arrangement, structure and selection thereof (collectively, “Content”), are the property of Fourier, its parent company, its affiliates or its licensors, and are subject to and protected by trademark, copyright, patent, and other intellectual property laws and rights. You will not obtain any ownership interest in the Content through these Terms of Use or otherwise. All rights to Content not expressly granted in these Terms of Use are reserved to their respective owners. Except as specifically permitted by these Terms of Use, you may not copy, reproduce, distribute, republish, download, perform, display, post, transmit, exploit, create derivative works of or otherwise use any of the Content in any form or by any means, without the prior written authorization of the copyright owner.</p>
            <p>Without limiting the foregoing, except as otherwise set forth in these Terms of Use, if you do use any Content we provide to create any derivative content, software, or other works (“Derivative Works”), you hereby grant to Fourier a perpetual, irrevocable, unlimited, worldwide, fully paid up, freely transferable and sub-licensable license to copy, reproduce, distribute, republish, download, perform, display, post, transmit, exploit, create derivative content of, or otherwise use the Derivative Works, by any and all manner, method and process and in any and all media now known or hereafter devised.</p>
            <p>The Fourier and its sub-project, EXOPS logos and other trademarks and logos pertaining to the Services are the property of their respective owners and are owned by, licensed to, or, where required, used with permission by Fourier and may not be reproduced, copied, or manipulated in any manner without the express, written approval of the trademark owner.</p>
        </div>
        <div class="textHead">
            <p>II. Use of this Service</p>
        </div>
        <div class="textContent">
            <p>Subject to your strict compliance with these Terms of Use, Fourier grants you a limited, personal, non-exclusive, revocable, non-assignable and non-transferable right and license to use the Services.</p>
            <p>You may not violate or attempt to violate the security of the Services, including by, without limitation, (a) attempting to probe, scan or test the vulnerability of a system or network or breach security or authentication measures without proper authorization, such as, but not limited to, hacking or researching passwords; (b) decompiling, reverse engineering, disassembling, attempting to derive the source code of any software or security components of the Services and/or Content; (c) violating, tampering with, or circumventing the security of any computer, system, or network of the Services, Content, and/or any associated tools, software, and other materials, passwords, encryption codes, technological protection measures, or to otherwise engage in any type of illegal activity, or to enable others to do so; (d) engaging in any activity with the intent to harm or damage the reputation of Fourier, its parent companies, affiliates and/or licensors (including original creator of any works) (e) attempting to interfere with service to any user, host or network, including without limitation via means of submitting a virus to the Services, overloading, "flooding," "spamming," "mailbombing" or "crashing"; or (f) forging communications on behalf of the Services or to the Services. You may not send unsolicited or unauthorized e-mail on behalf of Fourier, including promotions and/or advertising of products or services.</p>
        </div>
        <div class="textHead">
            <p>III. Additional Policies </p>
        </div>
        <div class="textContent">
            <p>In addition to these Terms of Use, when using specific Services or features offered by Fourier, you shall be subject to any posted guidelines, policies and/or other terms applicable to such Services or features that may be posted from time to time. All such guidelines or policies are incorporated by reference to these Terms of Use.</p>
            <p>For instance, and without limiting the generality of the foregoing, software usage and/or download may require you to accept and comply with an End User License Agreement, which shall be incorporated into these Terms of Use. Likewise, within certain Sites, Fourier may offer you the possibility of downloading some apps. In such event, the Order Terms accessible on such Site shall apply to your download actions and shall be incorporated into these Terms of Use.</p>
            <p>Each of these additional policies may be changed from time to time and are effective immediately upon posting such changes on the applicable Sites or Services.</p>
            <p>In case of a conflict between these Terms of Use and the above policies, the latter policies shall control. </p>  
        </div>
        <div class="textHead">
            <p>IV. User Content</p>
        </div>
        <div class="textContent">
            <p>As part of your use of the Services, Fourier may offer you the ability to create, record, upload, share, stream, and/or publish photos, images, audio recordings, applications and/or other content (“User Content”). If you elect to transmit any User Content through the Services, you must do so in a manner that is at all times compliant with these Terms of Use. You understand that all User Content you elect to publish through the Services is your sole responsibility, whether you posted it publicly or merely transmitted it to Fourier only. Your User Content must not violate or infringe on the copyright, patent, trademark, publicity, and/or other proprietary rights of any person or entity. Further, you shall not use the Services in any manner in connection with any User Content that may be viewed as libelous, threatening, harassing, defamatory, obscene, indecent, pornographic, hateful or otherwise illegal under any applicable law. Without limiting Fourier’s right to seek for damages, any User Content in violation of these Terms of Use may result in Fourier editing and/or removing the User Content from the Services and/or banning you from further using the Services temporarily or permanently, at Fourier’s discretion.</p>
            <p>Please remember that Fourier does not pre-screen, control, moderate, or endorse your User Content, and specifically disclaims any and all responsibility and liability for any publicly posted User Content. Submissions or opinions expressed by users are that of the individual expressing such submission or opinion and may not reflect Fourier’s opinions. Subject to the foregoing, Fourier may edit, refuse to post, or remove any User Content that you submit to us, in our sole discretion. </p>
            <p>In consideration of your use of the Services, you grant Fourier a worldwide, non-exclusive, transferable, irrevocable, sub-licensable, royalty-free license to use, store, copy, publish, reproduce, save, modify, create derivative works of, transmit, publicly display, and/or distribute all or part of your User Content, alone or combined with any other Fourier or third-party content, for any and all commercial and non-commercial purposes, in any and all media now known or thereafter devised and through any distribution methods now or later developed. For clarity, and without limiting the generality of the foregoing, the license granted under this paragraph authorizes Fourier to publish your User Content on Fourier’s social media channels, websites, and/or marketing and press materials in connection with any advertising, marketing, publicity and/or promotional activities pertaining to Fourier’s products and or services and/or Fourier’s corporate communication. You agree that the license granted under this paragraph does not and shall not entitle you to any compensation from Fourier or any of its parent companies, affiliates, subsidiaries or sub-licensees even if your User Content is used in any way pursuant to this paragraph.</p>
        </div>
        <div class="textHead">
            <p>V. Representations and Warranties</p>
        </div>
        <div class="textContent">
            <p>You hereby represent and warrant to Fourier as follows:</p>
            <p>Your Content, and each and every part thereof, is an original work by you, or you have obtained all rights, licenses, consents and permissions necessary in order to use, and (if and where relevant) to authorize Fourier or any of its licensors (including original creator of any works) to use, Your Content pursuant to these Terms of Use, including, without limitation, the right to upload, reproduce, store, transmit, distribute, share, publicly display, publicly perform, make available and otherwise communicate to the public Your Content, and each and every part thereof, on, through or via the Sites, and any and all Services.</p>
            <p>Your Content and the availability thereof on the Services does not and will not infringe or violate the rights of any third party, including, without limitation, any intellectual property rights, performers’ rights, rights of privacy or publicity, or rights in the Confidential Information (as defined below).</p>
            <p>You have obtained any and all necessary consents, permissions and/or releases from any and all persons appearing in Your Content in order to include their name, voice, performance or likeness in Your Content and to publish the same on the Sites and Services.</p>
            <p>Your Content does not and will not create any liability on the part of Fourier or any of its licensors (including original creator of any works), its and/or their respective subsidiaries, affiliates, successors, and assigns, and their respective employees, agents, representatives, directors, officers and/or shareholders.</p>
            <p>Fourier reserves the right to remove Your Content, suspend or terminate your access to the Services and/or pursue all legal remedies if we believe that any of Your Content breaches any of the foregoing representations or warranties, or otherwise infringes another person's rights or violates any law, rule or regulation.</p>
        </div>
        <div class="textHead">
            <p>VI. Disclaimer</p>
        </div>
        <div class="textContent">
            <p>Fourier does not warrant or represent that the Services, including any content or feature on the Sites will be error free, virus free or uninterrupted. The Services are delivered on an “as-available” basis. All information provided on the Services is subject to change without notice. Fourier disclaims all warranties, including any warranty against loss or corruption of data and any warranties of accuracy, non-infringement, merchantability and fitness for a particular purpose. Fourier disclaims any and all liability for the acts, omissions and conduct of any third parties in connection with or related to your use of the Services. You assume full responsibility for you use of the Services and Sites.</p>
            <p>Fourier and its subsidiaries, affiliates, successors, and assigns, and their respective employees, representatives, agents, directors, officers and shareholders, specifically disclaim all of the foregoing warranties and any other warranties not expressly set out herein to the fullest extent permitted by law.</p>
        </div>
        <div class="textHead">
            <p>VII. Indemnification</p>
        </div>
        <div class="textContent">
            <p>You hereby agree to indemnify, defend and hold harmless Fourier or any of its licensors (including original creator of any works), its and/or their respective successors, assigns, affiliates, agents, representatives, directors, officers, employees and shareholders from and against any and all claims, obligations, damages, losses, expenses, and costs, including reasonable attorneys' fees, resulting from:</p>
            <p>any violation by you of these Terms of Use;</p>
            <p>any third party claim of infringement of copyright or other intellectual property rights or invasion of privacy arising from the hosting of your User Content on the Services, and/or your making available thereof to other users of the Services, and/or the actual use of Your Content by other users of the Services in accordance with these Terms of Use and the parameters set by you with respect to the distribution and sharing of Your Content;</p>
            <p>any activity related to your account, be it by you or by any other person accessing your account with or without your consent unless such activity was caused by the act or default of Fourier.</p>
        </div>
        <div class="textHead">
            <p>VIII. Your Fourier Account</p>
        </div>
        <div class="textContent">
            <p>To use certain Services of the Site, you must create an Fourier account by following the registration process. To create an Fourier account, you must provide certain personal details, such as your last name, first name, email address and institution, and may require you to accept specific terms of use. You are responsible for providing correct and honest details, and for updating them should they change.</p>
            <p>You will also be required to choose a password. It is explicitly stated that these elements are confidential. You are solely responsible for the consequences of your account’s use up until its deactivation. You are responsible for informing Fourier immediately of any non-authorized access to your account, and/or password, and/or any security breach. It is your duty to personalize and change your password regularly.</p>
        </div>
        <div class="textHead">
            <p>IX. Interruption of Services</p>
        </div>
        <div class="textContent">
            <p>It is possible that your access to Services can be occasionally suspended or restricted in order to carry out maintenance work, to add features or to improve the service. Fourier will strive to limit the frequency of these interruptions, and the duration of these suspensions or restrictions. In any case, Fourier cannot take responsibility on the grounds of any damage caused as a result of these suspensions or restrictions.</p>
        </div>
        <div class="textHead">
            <p>X. Unsolicited Ideas Policy</p>
        </div>
        <div class="textContent">
            <p>Fourier appreciates your enthusiasm and the time and energy you spend using our Services. Fourier’s company policy, however, does not allow us or any of our employees to accept or consider any unsolicited ideas, suggestions, proposals, comments or materials pertaining to our products or Services (“Submissions”). The purpose of this policy is to avoid potential misunderstandings or disputes if products, services or features developed or published by Fourier fortuitously appeared similar or identical to ideas that may have independently occurred to you.</p>
            <p>If despite the above, you still elect to communicate a Submission to Fourier, then regardless of any terms you may specify, only the following terms shall apply to your Submissions : You agree that the Submissions shall be deemed non-confidential and non-proprietary. Fourier shall have no obligations concerning the Submissions, including but not limited to, no obligation to review or return any materials or acknowledge receipt of any Submissions. Fourier may use, redistribute, or disclose the Submissions worldwide without any restriction, in any way and for any purpose whatsoever, commercial or otherwise, without any compensation or credit obligation to you or any third party.</p>
        </div>
        <div class="textHead">
            <p>XI. Term and Termination</p>
        </div>
        <div class="textContent">
            <p>Fourier may terminate or suspend your access to the Services at any time in Fourier’s sole discretion. Fourier or its licensor (including original creator of any works) will not be held liable for the elimination of any Service or feature, nor will this elimination entitle you to any compensation or indemnification. If Fourier terminates you as a user of the Services, Fourier reserves the right to deny your reapplication at any time in its sole discretion. </p>
        </div>
        <div class="textHead">
            <p>XII. Applicable Law</p>
        </div>
        <div class="textContent">
            <p>These Terms of Use are regulated by P.R. CHINA law and subject to jurisdiction from Chinese courts. In no instance we guarantee that the Sites are conformed to any other local legislation that is applicable to you when you access the Sites.</p>
        </div>
        <div class="textHead">
            <p>XIII. Personal Information</p>
        </div>
        <div class="textContent">
            <p>Your data will be processed and stored in the manner pursuant to Fourier’s Privacy Policy.</p>
        </div>
        <div class="textHead">
            <p>XIV. Others</p>
        </div>
        <div class="textContent">
            <p>If you do not adhere to these Terms of Use and we do not initiate any action, this does not imply that we renounce our rights and we will still reserve the right to exercise our rights and legal means in all other situations in which you violate these Terms.</p>
            <p>If any stipulation of these Terms of Use or Specific Terms is deemed invalid, null or inapplicable, for whatever reason, this stipulation will be deemed separable, and will not affect the validity and the effectiveness of remaining stipulations.  </p>
        </div>
    </div>
    <!-- <div class="downloadLink">
        <a href=""><p>Download PDF</p></a>
    </div> -->
</div>