---
title: Home page
private_css: css/home.css 
private_js: js/home.js
home: highlight
---
<body>
   

    <div id="home_img_banner">
      <!--轮播插件-->
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators" style="width:100px;">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>   
          
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
              <div class="item active">
              <img src="./assets/home_img_banner.png" alt="First slide">
              </div>
              <div class="item">
              <img src="./assets/home_img_banner.png" alt="Second slide">
              </div>
              <div class="item">
              <img src="./assets/home_img_banner.png" alt="Third slide">
              </div>
              <div class="item">
                  <img src="./assets/home_img_banner.png" alt="Third slide">
              </div>
            </div>
          </div>
    </div>
    
    <div id="abovearea">
        <div id="abovehead">Innovative Future</div>
        <div id="abovetext">EXOPS satnds for Fourier Exoskeleton & Robotics 
        Open Platform System. We provide an open platform to educate, 
        promote and accelerate the development 
        of exoskeleton and robotics system for future meaningful real-life adoption.</div>  
    <!-- 悬浮-->
      <div class="home_smllogo_group">
        <div id="home_smllogo3"></div>
        <div id="home_smllogo2"></div>
        <div id="home_smllogo1"></div>
      </div>
    </div> 

    <!--顶满-->
    <div id="apipic2area">
    </div>

    <!--application area-->
    <div id="apparea">
    <!--插背景色-->
    <div id="apptext">Application in Multiple Areas</div>
    <div class="article_container blue">
        <div class="appcombine">
        <div id="apiicon1"></div>
        <div class="apiicontext" id="apiicon1text">Industrial</br>Robotics</div> 
        </div>

        <div class="appcombine">
        <div id="apiicon2"></div> 
        <div class="apiicontext" id="apiicon2text">Service</br>Robotics</div> 
        </div>

        <div class="appcombine">
        <div id="apiicon3"> </div>
        <div class="apiicontext" id="apiicon3text">esearch &</br>Developmen</div>
        </div>

        <div class="appcombine">
        <div id="apiicon4"></div>
        <div class="apiicontext" id="apiicon4text">Geriatric &</br> Assistive</div> 
        </div>

        <div class="appcombine">
        <div id="apiicon5"> </div>
        <div class="apiicontext" id="apiicon5text">Human </br>Performance</div>
        </div>

        <div class="appcombine">
        <div id="apiicon6"> </div>
        <div class="apiicontext" id="apiicon6text">Medical &</br>Rehabilitation</div>
        </div>

    </div>
    </div>

    <!--BENEFITS area-->
    <div id="benefitshead">
    <div id="beninfo">
    <div id="benpic"></div>
    <div id="bentext">BENEFITS</div>
    </div>
    </div>
    <div class="article_container" id="benback">
    <div id="beneicon1">
        <div id="bi1icon"></div>
        <div class="benefitstext" id="bi1text">Being an open, software centric platform, EXOPS collects information enriched by the sensors, motions, 
        generating precious added-value to satisfy individual needs. </div>
    </div>
    <div id="beneicon2">
        <div id="bi2icon"></div>
        <div class="benefitstext" id="bi2text">EXOPS strengthens and deepens the understandings of exoskeleton and also expands 
            the possibilities in academic communication and research cooperation via this robust, feature-rich 
            and advanced platform.</div>
    </div>
    <div id="beneicon3">
        <div id="bi3icon"></div>
        <div class="benefitstext" id="bi3text">Empowers technical support and service for consultancy of product information to 
            reinforce EXOPS  innovative technologies. </div>
    </div>
    </div>

    <div class="footer_container">
        <div class="footer_logo"></div>
        <div id="footer_text1">
            <span>Join Us and Sign up Your Developer Account</span>
        </div>
        <button id="footer_btn"  class="navi_btn"  onclick="Global.register()">
            Register Now
        </button>
    </div>
</body>