---
title: Login
private_css: css/login.css
---
      <div class="article_container">
        <form action="" method="get" onsubmit="">
        <div class="table">
          <div class="table-dis">
            <img src="./assets/content_icon7.png" />
            <span>Welcome to log in again</span>
          </div>


              <div class="inner">
                <input type="text" name="email" value="" class="input" placeholder="* Please fill in the correct email address">
                <input type="text" value="" class="input"  placeholder="*Please fill in the correct password" id="pwd">
                <input type="hidden" name="pwd" id="md5_pwd"/>
            </div>
            <input type="submit" class="btn-content" value="Login" />
        </div>
      </form>
      </div>