---
title: Register
private_css: css/register.css
---




      <div id="singupcontent">
        <div class="texthead">Create your account</div>
        <div class="text" id="headbelow">
            <img src="./assets/content_icon7.png" />
          Please fill your account details below.
        </div>
        <div id="inputgroup" class="table">
          <div class="tr">
            <div class="td table-left">* FIRST NAME</div>
            <div class="td table-right"><input type="text" name="firstname" class="input"></div>
          </div>
          <div class="tr">
              <div class="td table-left">* LAST NAME</div>
              <div class="td table-right"><input type="text" name="lastname" class="input"></div>
            </div>
          <div class="tr">
            <div class="td table-left">* EMAIL</div>
            <div class="td table-right"><input type="email" name="email" class="input"></div>
          </div>
          <div class="tr">
            <div class="td table-left">* PASSWORD</div>
            <div class="td table-right"><input type="password" name="password" class="input"></div>
          </div>
          <div class="tr">
            <div class="td table-left">* PASSWORD CONFIRMATION</div>
            <div class="td table-right"><input type="password" name="psw2" class="input"></div>
          </div>
          <div class="tr">
            <div class="td table-left">* COMPANY/INSTITUTION</div>
            <div class="td table-right"><input type="text" name="company" class="input"></div>
          </div>
          <div class="tr">
              <div class="td table-left">* COUNTRY</div>
              <div class="td table-right"><input type="text" name="cuontry" class="input"></div>
            </div>
        </div>
      
      
      <div id="textgroup">
          <div class="text" id="check1">
              <input type="checkbox" value="0" id="checkbox-1" style="display: none;" checked>
              <label for="checkbox-1"></label>I want to receive EXOPS Newsletter.</div>
            <div class="text" id="check2">
                <input type="checkbox" value="0" id="checkbox-2" style="display: none;" checked>
                <label for="checkbox-2"></label>I agree with EXOPS <span class="blue"> Terms of Use </span>and <span class="blue"> Privacy Policy</span>.</div>
            <div class="text" >* Required Fields</div>
      </div>
       
        <div id="btngroup">
          <button class="btn" id="cancle">Cancel</button>
          <button class="btn" id="creat">Create an account</button>
        </div>
      
      </div>



