.highlight{
    color:#FFF;
}
*{
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}
input{
    display: inline-block;
    min-height: 70px;
    min-width: 480px;
    font-size: 22px;
}
.undertable{
    background-color: #FFF;
    height: auto;
    width: 1000px;
    margin:-300px auto 20px auto
}
/*大图片*/
.article_pic{
    width:100%;
    height: 630px;
    background-position: center;
    background-image: url(../assets/content_img_banner2.png);
    min-width: 1260px;
}
.contact-bg{
    background-image: url(../assets/content_bg.png);
    width:100%;
    min-width: 1280px;
    height: 1013px;
    margin-right: 0px;
}
.contact-info{
    background-image: url(../assets/content_bg.png);
    height: auto;
    width: 1280px;
    margin: 42px auto 0 auto;
    display: flex;
}
.title{
    position: relative;
    text-align: left;
    padding: 37px 0px 0 140px;
}

.title p{
font-family: PingFangSC-Regular;
font-size: 40px;
color: #0A1017;
letter-spacing: 0.14px;
text-align: left;
}
.title span{
    font-family: PingFangSC-Regular;
font-size: 40px;
color: #0A1017;
letter-spacing: 0.14px;
text-align: left;

}
.text{
    background: #FFFFFF;
    border-radius: 6px;
    width: 1000px;
    height: 743px;
    /* margin-top: 173px; */
    margin-left: 140px;
    text-align: left;
}


.text span1{
    /* display:inline-block; */
    margin-left: 60px;
    height: 30px;
    width: 300px;
    margin-left: 103px;
    margin-right: 648px;
    font-family: PingFangSC-Regular;
font-size: 22px;
color: #0A1017;
letter-spacing: 0;
text-align: left;

}
.text p{
    margin-left: 103px;
    height: 66px;
    width: 858px;
    font-family: PingFangSC-Regular;
font-size: 18px;
color: #606470;
letter-spacing: 0;
text-align: left;
line-height: 33px;
}
.text span2{
    margin-left: 60px;
    font-family: PingFangSC-Regular;
font-size: 14px;
color: #0086D1;
letter-spacing: 0;
text-align: left;
line-height: 26px;
}
.text span3{
   
    font-family: PingFangSC-Regular;
font-size: 14px;
color: #606470;
letter-spacing: 0;
text-align: left;
line-height: 26px;
}


.content-border{
	height: 1px;
	width: 848px;
	
	margin-top: 40px;
	margin-bottom: 40px;
}
/*表格*/
.table{
    height: 880px;
    width: 1280px;
   
}
.table-dis{
    padding-top: 80px;
    margin-bottom: 50px;
    margin-left: 140px;
    text-align: left;
}
.tablespan{
    
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color: #0A1017;
    letter-spacing: 0;
    
}



.demo{
  display: flex; 
  flex-direction: column;              
  justify-content:center;
  width:1280px;
  }
.demo2{
  height: 365px;
  width: 1280px;
  display: flex;               
  justify-content:center;
}

.demo2 input{
    font-family: PingFangSC-Regular;
font-size: 16px;
color: #999999;
letter-spacing: 0;
text-align: left;
margin-left: 20px;
}
.biginput{
    background-color: #FFF;
    height: auto;
    width: 1280px;
    margin: 66px 0px 0 9px;
    display: flex;
}


.demo3{
    margin-top: 0px;
    text-align: left;
    background: #FAFAFA;
  }
.in{
font-family: PingFangSC-Regular;
font-size: 16px;
background: #FAFAFA;
letter-spacing: 0;


}







/* .textarea{
               min-height: 100px;
			
				font-size: 14px;
                max-height: 300px;
                
				overflow-y: auto;
				   resize:none;
                   background: #FAFAFA;
                   border-radius: 6px;
				  
				  position:absolute;z-index:9

}*/

.textarea{
position:absolute;
line-height:20px;
 
 font-family: PingFangSC-Regular;
font-size: 16px;
color: #999999;
letter-spacing: 0;
text-align: left;
     }











  .request{
    margin-top: 13px;
    text-align: right;
  }
.article-buttom{
    text-align:left;
    height: 20px;
    margin-top:71px;
}
.btn-content{
    color: #FFFFFF; font-size: 24px;
    letter-spacing: 0;
    font-family: PingFangSC-Regular;
    min-width: 181px;
    min-height: 62px;
    width: 181px;
    height: 62px;
    background-image: url(../assets/content_button3.png);
    margin-top: 40px;
    margin-left: 40px;
}
.btn-content input{
    color: #FFFFFF;
text-align: center;
}
  .inner{
    height: 70px;
    width: 480px;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    margin: 15px  24px;
  }
  .inner2{
    height: 70px;
    width: 480px;
    font-size: 26px;
    margin: 15px  24px;
    display: flex;
    flex-direction: column;
  }
  .input{
      height: 70px;
      width: 480px; 
      margin: 0px 0px 15px 0px;
      background: #FAFAFA;
    border-radius: 6px;
  }
  .input3{
    height:325px;
    width: 1000px; 
    background: #FAFAFA;
}

/*覆盖原样式*/
.article_display{
    height: 2810px;
    background-color:#FFF;
}

/*覆盖样式*/
footer{
   background-color: #303136;
}
.article_container{
    background-color: #FFF;
    height: auto;
    width: 1280px;
    margin:0 auto 0 auto;
    display: flex;
}




/*修改*/
.icon1
{
width:32px;
height:31px;
display:inline-block;
background:url("../assets/content_gq1.png");
vertical-align:bottom;
margin-top:40px;
margin-left: 50px;
margin-right: 20px;
}
.icon2
{
width:12px;
height:12px;
display:inline-block;
background:url("../assets/content_icon6.png");
vertical-align:0%;
margin-top:40px;
margin-left: 65px;
margin-right: 20px;
}
.icon3
{
width:12px;
height:12px;
display:inline-block;
background:url("../assets/content_icon6.png");
vertical-align: 0%;
margin-top:10px;
margin-left: 65px;
margin-right: 20px;
}
.icon4
{
    width:31px;
    height:30px;
    background:url("../assets/content_gq2.png");
    display:inline-block;
    vertical-align:bottom;
    margin-top:10px;
    margin-left: 50px;
    margin-right: 20px;
}
.icon5
{
width:31px;
height:30px;
background:url("../assets/content_gq3.png");
display:inline-block;
vertical-align:bottom;
margin-top:20px;
margin-left: 50px;
margin-right: 20px;
}
.request{
    text-align: right;
}
.tablespan{
    font-family: PingFangSC-Regular;
font-size: 16px;
color: #999999;
letter-spacing: 0;
text-align: left;
}
.checkbox{
    width: 15px;
    height: 15px;
}
.article-buttom span{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #999999;
    letter-spacing: 0;
    text-align: left;
}
.checkbox{
min-height: 0px;
    min-width: 0px;
    margin-left: 40px;
}

.table-dis span{
    font-family: PingFangSC-Regular;
font-size: 22px;
color: #0A1017;
letter-spacing: 0;
text-align: left;
}



input{color: #999999;;}
input::-webkit-input-placeholder{color: #999999;}