.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    width: auto;
    max-width: 1920px;
    max-height: 840px;
    margin-left: 50%;
    transform: translateX(-50%);
}
*{
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    background-color:transparent; 
    max-width: 1920px;
}
.carousel-indicators {
    bottom: 170px;
}
.highlight{
    color: #FFF;
}
#login{
    font-family: SourceSansPro-Regular;
    font-size: 18px;
    color: #FFFFFF;
    text-align: left;
    line-height: 32px;
}
/* 宽度100%图片在分辨率小于1280时未填满解决 */
#home_img_banner,#hardwarehead,#apihead,#apipic2area,#benefitshead,#benback{
    min-width:1280px;
}
.carousel-indicators{
    left: 50%;
    margin-left: -618px;
    list-style: none;
}
#home_img_banner{
    /* height: 760px; */
    /* 高度应该是760px，为了适应轮播暂时改成591.06 */
    height: 591.06px;
    width: 100%;
    /*宽度最小是1280px*/
    background-position: center;
    /*background-image: url('../assets/home_img_banner.png');*/
}
.home_smllogo_group{
    width:1200px;
    height:105px;
    background-color:#FFF;
    margin: 200px 40px 0 40px;
    position: relative;
    box-shadow: 0 2px 32px 0 rgba(0,0,0,0.15);
}
#home_smllogo3{
    background-image: url('../assets/home_logo3.png');
    width:259px;
    height:63px;
    position: absolute;
    margin: 23px 837px 19px 103px;
}
#home_smllogo2{
    background-image: url('../assets/home_logo2.png');
    width:227px;
    height:59px;
    position: absolute;
    margin: 20px 479.5px 125px 494.5px;
}
#home_smllogo1{
    background-image: url('../assets/home_logo1.png');
    width:246px;
    height:58px;
    position: absolute;
    margin: 20px 102px 27px 852px;
}
#home_img1{
    background-image: url('../assets/home_img1.png');
    width:528px;
    height:337px;
    margin:100px 0 0 40px;
}
#why{
    background-position: 0px 170px;
    font-family: Lato-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#who{
    
    background-position:-4px 199px;
    font-family: Lato-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#what{

    background-position: 0 30px;
    background-size: 640px 226px;
    background-color:transparent; 
    font-family: Lato-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;

}
.girlpic{
    
    height:  1111px;
    background-position: bottom center;
    min-width: 1280px;
}
#home_img1texthead{
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #303136;
    letter-spacing: 0.11px;
    max-width: 540px;
    height:auto;
   
    margin: 187px 40px 0 0;
}
#home_img1textp{
    max-width: 640px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 40px 0 0;
    font-family: PingFangSC-Light;
    letter-spacing: 0;
    line-height: 20px;
}    
#boldexops{
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #0A1017;
    letter-spacing: 0;
    line-height: 20px;
}   
#home_img2texthead{
    max-width: 640px;
    height:auto;
    margin: 0px;
    font-family: Roboto-Bold;
font-size: 30px;
color: #303136;
letter-spacing: 0.11px;
margin-top: 140px;
margin-left: 40px;
margin-bottom: 20px;
}
#home_img2textp{
    max-width: 640px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 40px;  
    font-family: Roboto-Light;
font-size: 14px;
letter-spacing: 0;
line-height: 24px;
}  
#home_img2{
    background-image: url('../assets/home_img2.png');
    width:478px;
    height:414px;
    margin: 0px 40px 0 117px;
}

.widegraybg{
    
    width: 100%;
    min-width: 1280px;
    height: 405px;
    max-height: 340px;
}


#home_img3{
    background-image: url('../assets/home_img3.png');
    width:528px;
    height:337px;
    margin: 0px 0 0px 40px;
}
#home_img3texthead{
    max-width: 640px;
    height: auto;
    font-family: PingFangSC-Regular;
    color: #323643;
    font-size: 40px;
    margin: 54px 40px 0 0;
    letter-spacing: 0;
    margin-top: 120px;
    }
#home_img3textp{
    max-width: 640px;
    height: auto;
    font-family: PingFangSC-Light;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 40px 0 0;
    font-family: Roboto-Light;
color: #0A1017;
letter-spacing: 0;
line-height: 24px;
}  
#hardwarehead,#apihead,#benefitshead{
    background-image: url('../assets/home_img_bg1.png');
    width:100%;
    height:100px;
    text-align: center;
}
#hardinfo,#apiinfo,#beninfo{
    margin:0 auto 0 auto;
    padding-top: 20px;
    font-size: 40px;
    font-family: Helvetica;
    font-size: 40px;
    color: #FFFFFF;
}
#hardpic{
    background-image: url('../assets/home_icon1.png');
    width:42px;
    height:37px; 
    display: inline-block;
    vertical-align: middle;
}
#hardtext{
    color: #FFF;
    display: inline-block;
    vertical-align: middle;
}
#hard1bg{
    margin-top: 0;
    height: 444px;
    max-height: 375px;
}
.hard1container{
    height: 444px;
}
#hardpic1{
    background-image: url('../assets/home_img4.png');
    width:590px;
    height:376px;
    margin: 0px 40px 0 0;
}
#hardtext1head{
    max-width: 640px;
    height:auto;
    font-family: PingFangSC-Regular;
    color: #323643;
    font-size: 40px;
    margin: 0px 0 0 40px;   
    letter-spacing: 0;
    margin-top: 100px;
}
#hardtext1p{
    max-width: 640px;
    height: auto;
    font-family: PingFangSC-Light;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 40px;
    letter-spacing: 0;
    font-family: Roboto-Light;
line-height: 24px;
}
#hardpic2{
    background-image: url('../assets/home_img5\ 2.png');
    width: 593px;
    height: 346px;
    margin: 0 0 0 47px;
}
#hardtext2{
    width: 590px;
}
#hardtext2head{
    max-width: 470px;
    height:auto;
    margin: 65px 0 0 40px;  
    font-family: Roboto-Bold;
font-size: 30px;
color: #303136;
letter-spacing: 0.11px;
max-width: 500px;
margin-top: 120px;
}
#hardtext2p{
    max-width: 520px;
    height: auto;
    font-family: PingFangSC-Light;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 40px;
    letter-spacing: 0;
    font-family: Roboto-Light;
line-height: 24px;
max-width: 550px;
}
#hardpic3{
    background-color: grey;
    background-image: url('../assets/home_img6\ 2.png');
    width:478px;
    height:414px;
    margin: 0px 0px 0px 60px;
    max-height: 360px;
}
#hardtext3head{
    max-width: 640px;
    height: auto;
    font-family: PingFangSC-Regular;
    color: #323643;
    font-size: 40px;
    margin: 150px 0 0 56px;
    letter-spacing: 0;
}
#hardtext3p{
    max-width: 640px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 56px;
    font-family: PingFangSC-Light;
    letter-spacing: 0;
}
#hardpic4area{
margin-bottom: 30px;
}
#hardpic4{
    background-image: url('../assets/home_img7.png');
    width:528px;
    height:337px;
    margin: 0px 0 40px 40px;
}
#hardtext4head{
    max-width: 640px;
    height:auto;
    font-family: PingFangSC-Regular;
    color: #323643;
    font-size: 40px;
    margin: 80px 0 0 40px; 
    letter-spacing: 0;   
}
#hardtext4p{
    max-width: 544px;
    height: auto;
    font-family: PingFangSC-Light;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 40px;
    letter-spacing: 0;
}

#hardpic6{
    background-image: url('../assets/home_img7.png');
    width:528px;
    height:337px;
    margin: 0px 0 40px 40px;
}
#hardtext6head{
    max-width: 640px;
    height:auto;
    margin:0px; 
    font-family: Roboto-Bold;
font-size: 30px;
color: #303136;
letter-spacing: 0.11px;  
margin-top: 130px;
margin-left: 40px;
}
#hardtext6p{
    max-width: 544px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 40px;
    letter-spacing: 0;
    font-family: Roboto-Light;
line-height: 24px;
max-width: 740px;
    
}
.article_container7{
margin-top: 30px;
margin-left: auto;
margin-right: auto;
background-color:transparent; 
width:1280px;
height:auto;
display: flex;
}
#hardpic7{
    background-image: url('../assets/home_img1.png');
    width:528px;
    height:337px;
    margin: 0px 0 40px 40px;
}
#hardtext7head{
    max-width: 640px;
    height:auto;
    margin: 80px 0 0 40px; 
    margin-top: 70px;  
    font-family: Roboto-Bold;
font-size: 30px;
color: #303136;
letter-spacing: 0.11px;
}
#hardtext7p{
    max-width: 600px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 40px;
    letter-spacing: 0;
    font-family: Roboto-Light;
line-height: 24px;
}
#home_img8texthead{
    max-width: 640px;
    height:auto;
    margin: 0px;
    font-family: Roboto-Bold;
font-size: 30px;
color: #303136;
letter-spacing: 0.11px;
margin-top: 60px;
margin-left: 40px;
margin-bottom: 20px;
}
#home_img8textp{
    max-width: 640px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 40px;  
    font-family: Roboto-Light;
font-size: 14px;
letter-spacing: 0;
line-height: 24px;
}  
#home_img8{
    background-image: url('../assets/home_img2.png');
    width:478px;
    height:414px;
    margin: 0px 40px 0 117px;
}
<<<<<<< HEAD
/* ul{

} */
#apipic1{
    background-image: url('../assets/home_img5.png');
    width: 615px;
    height: 410.8px;
    margin: 50px 0 0 40px;
}
.textarea{
    display: flex;
    flex-direction: column;
=======
#home_img9{
    background-image: url('../assets/home_img3.png');
    width:528px;
    height:337px;
    margin: 0px 0 0px 40px;
>>>>>>> lize
}
#home_img9texthead{
    max-width: 640px;
    height: auto;
    font-family: PingFangSC-Regular;
    color: #323643;
    font-size: 40px;
    margin: 54px 40px 0 0;
    letter-spacing: 0;
    margin-top: 120px;
    }
#home_img9textp{
    max-width: 640px;
    height: auto;
    font-family: PingFangSC-Light;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 40px 0 0;
    font-family: Roboto-Light;
color: #0A1017;
letter-spacing: 0;
line-height: 24px;
}  
#hardpic10{
    background-image: url('../assets/home_img1.png');
    width:528px;
    height:337px;
    margin: 0px 0 40px 40px;
}
#hardtext10head{
    max-width: 640px;
    height:auto;
    font-family: PingFangSC-Regular;
    color: #323643;
    font-size: 40px;
    margin: 80px 0 0 40px; 
    letter-spacing: 0;   
}
#hardtext10p{
    max-width: 544px;
    height: auto;
    font-family: PingFangSC-Light;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 40px;
    letter-spacing: 0;
}
#hardpic11{
    background-image: url('../assets/home_img1.png');
    width:528px;
    height:337px;
    margin: 0px 0 40px 40px;
}
#hardtext11head{
    max-width: 640px;
    height:auto;
    font-family: PingFangSC-Regular;
    color: #323643;
    font-size: 40px;
    margin: 80px 0 0 40px; 
    letter-spacing: 0;   
}
#hardtext11p{
    max-width: 544px;
    height: auto;
    font-family: PingFangSC-Light;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 40px;
    letter-spacing: 0;
}




/* 覆盖全局样式 */
.article_display{
    /*高度根据具体情况暂时修改*/
    height: auto;
}
.article_container{
    background-color:transparent; 
    width:1280px;
    height:auto;
    margin:0 auto 0 auto;
    display: flex;
}
.article_container_part{
    /* background-color:pink; */
    width:640px;
    /* height:100%; */
    margin:0 auto 0 auto;
}
.navi_bar,.article_container,.footer_container{
width: 1280px;
min-width: 1280px;
}
.navi_btn{
border-color: rgb(63,64,69)
}

/* 修改 */
.article_container1{
    background-color: red;
    height: 360px;
}
.article_picture{
    background-color: orange;
    height: 538px;
}
.article_container2{
    background-color: green;
    height: 400px;
}
.benefits{
    background-color: blue;
    height: 100px;
}
.article_container3{
    background-color: skyblue;
    height: 375px;
}
.article_container4{
    background-color: purple;
    height: 320px;
}



/*第一行*/
#home_img1{
    background-image: url('../img/home_img1.png');
    width:528px;
    height:337px;
    margin-left: 110px;
    
}
#first{
    background-position: 0px 170px;
    font-family: Lato-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img1texthead{
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #303136;
    letter-spacing: 0.11px;
    max-width: 540px;
    height:auto;
    margin-left: 60px;
   
    margin-top:120px ;  
}
#home_img1textp{
    max-width: 640px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 40px 0 0;
    font-family: PingFangSC-Light;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 60px
} 
/*第二行*/
#second{
    
    background-position:-4px 199px;
    font-family: Lato-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img2texthead{
    max-width: 640px;
    height:auto;
    margin: 0px;
    font-family: Roboto-Bold;
font-size: 30px;
color: #303136;
letter-spacing: 0.11px;
margin-top: 120px;
margin-left: 110px;
margin-bottom: 20px;
}
#home_img2textp{
    max-width: 640px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 110px;  
    font-family: Roboto-Light;
font-size: 14px;
letter-spacing: 0;
line-height: 24px;
}  
#home_img2{
    background-image: url('../img/home_img2.png');
    width:478px;
    height:414px;
    margin: 0px ;
}
/*第三行*/
	#home_img3{
    background-image: url('../img/home_img1.png');
    width:528px;
    height:337px;
    margin-left: 110px;
    
}
#third{
    background-position: 0px 170px;
    font-family: Lato-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img3texthead{
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #303136;
    letter-spacing: 0.11px;
    max-width: 540px;
    height:auto;
    margin-left: 60px;
   
    margin-top:120px ;  
}
#home_img3textp{
    max-width: 640px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 40px 0 0;
    font-family: PingFangSC-Light;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 60px
}
/*第四行*/
#fourth{
    
    background-position:-4px 199px;
    font-family: Lato-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img4texthead{
    max-width: 640px;
    height:auto;
    margin: 0px;
    font-family: Roboto-Bold;
font-size: 30px;
color: #303136;
letter-spacing: 0.11px;
margin-top: 120px;
margin-left: 110px;
margin-bottom: 20px;
}
#home_img4textp{
    max-width: 640px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 110px;  
    font-family: Roboto-Light;
font-size: 14px;
letter-spacing: 0;
line-height: 24px;
}  
#home_img4{
    background-image: url('../img/home_img2.png');
    width:478px;
    height:414px;
    margin: 0px ;
}
/*第五行*/
	#home_img5{
    background-image: url('../img/home_img1.png');
    width:528px;
    height:337px;
    margin-left: 110px;
   
}
#fifth{
    background-position: 0px 170px;
    font-family: Lato-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img5texthead{
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #303136;
    letter-spacing: 0.11px;
    max-width: 540px;
    height:auto;
    margin-left: 60px;
   
    margin-top:120px ;  
}
#home_img5textp{
    max-width: 640px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 40px 0 0;
    font-family: PingFangSC-Light;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 60px
}
/*第六行*/
#sixth{
    
    background-position:-4px 199px;
    font-family: Lato-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img6texthead{
    max-width: 640px;
    height:auto;
    margin: 0px;
    font-family: Roboto-Bold;
font-size: 30px;
color: #303136;
letter-spacing: 0.11px;
margin-top: 120px;
margin-left: 110px;
margin-bottom: 20px;
}
#home_img6textp{
    max-width: 640px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 110px;  
    font-family: Roboto-Light;
font-size: 14px;
letter-spacing: 0;
line-height: 24px;
}  
#home_img6{
    background-image: url('../img/home_img2.png');
    width:478px;
    height:414px;
    margin: 0px ;
   
}
/*第七行*/
	#home_img7{
    background-image: url('../img/home_img1.png');
    width:528px;
    height:337px;
    margin-left: 110px;
   
}
#seventh{
    background-position: 0px 170px;
    font-family: Lato-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img7texthead{
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #303136;
    letter-spacing: 0.11px;
    max-width: 540px;
    height:auto;
    margin-left: 60px;
   
    margin-top:120px ;  
}
#home_img7textp{
    max-width: 640px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 40px 0 0;
    font-family: PingFangSC-Light;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 60px
}
/*第八行*/
#eighth{
    
    background-position:-4px 199px;
    font-family: Lato-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img8texthead{
    max-width: 640px;
    height:auto;
    margin: 0px;
    font-family: Roboto-Bold;
font-size: 30px;
color: #303136;
letter-spacing: 0.11px;
margin-top: 120px;
margin-left: 110px;
margin-bottom: 20px;
}
#home_img8textp{
    max-width: 640px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 110px;  
    font-family: Roboto-Light;
font-size: 14px;
letter-spacing: 0;
line-height: 24px;
}  
#home_img8{
    background-image: url('../img/home_img2.png');
    width:478px;
    height:414px;
    margin: 0px ;
    
}
/*第九行*/
	#home_img9{
    background-image: url('../img/home_img1.png');
    width:528px;
    height:337px;
    margin-left: 110px;
    
}
#nineth{
    background-position: 0px 170px;
    font-family: Lato-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img9texthead{
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #303136;
    letter-spacing: 0.11px;
    max-width: 540px;
    height:auto;
    margin-left: 60px;
   
    margin-top:120px ;  
}
#home_img9textp{
    max-width: 640px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 40px 0 0;
    font-family: PingFangSC-Light;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 60px
}
/*第十行*/
#tenth{
    
    background-position:-4px 199px;
    font-family: Lato-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img10texthead{
    max-width: 640px;
    height:auto;
    margin: 0px;
    font-family: Roboto-Bold;
font-size: 30px;
color: #303136;
letter-spacing: 0.11px;
margin-top: 120px;
margin-left: 110px;
margin-bottom: 20px;
}
#home_img10textp{
    max-width: 640px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 0 0 110px;  
    font-family: Roboto-Light;
font-size: 14px;
letter-spacing: 0;
line-height: 24px;
}  
#home_img10{
    background-image: url('../img/home_img2.png');
    width:478px;
    height:414px;
    margin: 0px ;

}
/*第十一行*/
	#home_img11{
    background-image: url('../img/home_img1.png');
    width:528px;
    height:337px;
    margin-left: 110px;
   
}
<<<<<<< HEAD
.navi_btn{
border-color: rgb(63,64,69)
}
=======
#eleven{
    background-position: 0px 170px;
    font-family: Lato-Bold;
    font-size: 300px;
    color: #0065A3;
    letter-spacing: 1.07px;
    text-align: left;
}
#home_img11texthead{
    font-family: Roboto-Bold;
    font-size: 30px;
    color: #303136;
    letter-spacing: 0.11px;
    max-width: 540px;
    height:auto;
    margin-left: 60px;
   
    margin-top:120px ;  
}
#home_img11textp{
    max-width: 640px;
    height: auto;
    color: #0A1017;
    font-size: 14px;
    margin: 10px 40px 0 0;
    font-family: PingFangSC-Light;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 60px
}

>>>>>>> lize
