.support_pic {
    width: 100%;
    min-width: 1260px;
    background-image: url(../assets/content_img_banner2.png);
    background-position: center;
    height: 550px;
}

/*主体区底层*/
.article_display {
    background-color: red;
    background-color:#FFF;
    height: 2534px;
}

.article_container {
    background-color: pink;
    height: 942px;
}
.article-container1{
    width:100%;
    height:942px;
    /*background-color:yellow;*/
    background-color: #FFF;
    overflow: hidden;
}
/*container：1260px;*/
.article-container2{
    width:1000px;
    height:782px;
    /*暂未确定*/
    margin:80px auto 30px auto;
    /* background-color:red */
    background-color:#FFF;
}
.article-title{
    width:100%;
    height: 112px;
    background-color: #FFF;
    font-family: PingFangSC-Regular;
    font-size: 40px;
    color: #0A1017;
    letter-spacing: 0.14px;
    text-align: left;  
    margin-bottom: 42px;
}
/*三个图标*/
.article-img-group{
    width:100%;
    height: 62px;
    /*background-color:green;*/
    margin-bottom: 100px;
}
#img1{
    margin-left:27px;
    margin-right:355px;
}
#img2{
    margin-left: 27px;
    margin-right:355px;
}
.article-span{
    display:block;
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color: #0086D1;
    letter-spacing: 0;
    text-align: left;
}
#img3{
    margin-left: 34px;
}

.icon-span{
    display: block;
    align-content: center;
    margin-left: 35px;
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color: #999999;
    letter-spacing: 0;
    text-align: left;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: #0086D1;
}

.article-question{
    display:block;font-family: PingFangSC-Regular;
    font-size: 22px;
    /*color: #0086D1;*/
    color:#606470;
    letter-spacing: 0;
    text-align: left;
    height: 30px;
}
.article-answer{
    display:none;
    font-family: PingFangSC-Regular;
    height: 55px;
    background-color: #FFF;
    font-size: 14px;
    color: #606470;
    letter-spacing: 0;
    text-align: left;
    line-height: 26px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: gray;
}
.question-answer{
    width:1000px;
    /*height:30px;*/
    height: auto;
    background-color:#FFF;
    margin-bottom: 30px;
    background-color: rgba(255,255,255,0.20);
    border: 1px solid #EAEAEA;
    border-radius: 6px;

}
/*向下箭头*/
.down-arrow{
    margin-bottom: 4px;
    margin-left: 190px;
    cursor: pointer;
}

.article_display,.article_container,.article-container1,.article-container2{
    height: auto;
}
